.mypets{ /*header of 1st demo*/
    cursor: hand;
    cursor: pointer;
    background-repeat: no-repeat; 
    height:25px;
    border:0;
    padding: 0;
    margin:0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
	letter-spacing:1px;
    font-size:12px;
    color:#444;
    vertical-align:middle;    
    padding-left: 6px;
    padding-top: 2px;
}
.mypets a{font-family: "Oswald", Arial, Helvetica, sans-serif;letter-spacing:1px;color:#444;text-decoration:none;}
.mypets a:hover{border-bottom:2px solid #b00;}
.thepet{
    /*background:url(< ?php echo $page_url; ?>themes/Fibremex_Resp_2015/js/menup/linea_cuerpo.jpg) repeat-y; */ 
    border:0;
    padding-right: 1px;
    padding-left: 19px;
    margin:0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
	letter-spacing:1px;
    font-size: 11px;
    color:#444;
    vertical-align:middle;
/* 
    padding-top: 12px;
    padding-bottom: 14px;
*/
}
.thepet a{
	font-family: "Oswald", Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	font-size: 11px;
    color:#444;
	margin-right: 0px;
    padding-left: 0px;
	text-decoration:none;
}
.thepet a:hover, .thepet a:active{
	font-size: 11px;
    color: #444;
	border-bottom:2px solid #b00;
/*
    padding-top: 12px;
    padding-bottom: 14px;
*/
}

#circulo{
	float:left;
	background:#c00;
	width:6px;
	height:6px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	margin-top:7px;
}
#espacio{
	height:5px;
}

.widget_title{font-family:Oswald,Arial;font-size:14px;color:#222;font-weight:700;text-transform:uppercase;}
.widget_title span{border-bottom:2px solid #b00;}
.cover-img{width:270px;}
.info-content{width:270px; height:80px; text-align:center;}
.info-content H4{font-size:15px; font-weight:700; color:#444; letter-spacing:0px;}
.column-content{width:73%;padding-left:; padding-bottom:0; margin-bottom:0;}
/*.sc_team .sc_team_item .sc_team_item_info{ padding:1px 20px !important;}*/
.themecolor{margin-bottom:0px; font-size:15px; font-weight:700; text-transform:uppercase;}
.cat{font-size:16px;font-weight:700;color:#333;}
.al{color:#666; text-decoration:none; font-weight:700;}
.al:hover{text-decoration:none;}
@media screen and (max-width:950px){
.column-content{width:100%; padding-left:15%;}	
}
