                                                        .minimal-light .navigationbuttons,
                                                        .minimal-light .esg-pagination,
                                                        .minimal-light .esg-filters {
                                                            text-align: center
                                                        }
                                                        
                                                        .minimal-light .esg-filterbutton,
                                                        .minimal-light .esg-navigationbutton,
                                                        .minimal-light .esg-sortbutton,
                                                        .minimal-light .esg-cartbutton a {
                                                            color: #999;
                                                            margin-right: 5px;
                                                            cursor: pointer;
                                                            padding: 0px 16px;
                                                            border: 1px solid #e5e5e5;
                                                            line-height: 38px;
                                                            border-radius: 5px;
                                                            -moz-border-radius: 5px;
                                                            -webkit-border-radius: 5px;
                                                            font-size: 12px;
                                                            font-weight: 700;
                                                            font-family: "Open Sans", sans-serif;
                                                            display: inline-block;
                                                            background: #fff;
                                                            margin-bottom: 5px
                                                        }
                                                        
                                                        .minimal-light .esg-navigationbutton * {
                                                            color: #999
                                                        }
                                                        
                                                        .minimal-light .esg-navigationbutton {
                                                            padding: 0px 16px
                                                        }
                                                        
                                                        .minimal-light .esg-pagination-button:last-child {
                                                            margin-right: 0
                                                        }
                                                        
                                                        .minimal-light .esg-left,
                                                        .minimal-light .esg-right {
                                                            padding: 0px 11px
                                                        }
                                                        
                                                        .minimal-light .esg-sortbutton-wrapper,
                                                        .minimal-light .esg-cartbutton-wrapper {
                                                            display: inline-block
                                                        }
                                                        
                                                        .minimal-light .esg-sortbutton-order,
                                                        .minimal-light .esg-cartbutton-order {
                                                            display: inline-block;
                                                            vertical-align: top;
                                                            border: 1px solid #e5e5e5;
                                                            width: 40px;
                                                            line-height: 38px;
                                                            border-radius: 0px 5px 5px 0px;
                                                            -moz-border-radius: 0px 5px 5px 0px;
                                                            -webkit-border-radius: 0px 5px 5px 0px;
                                                            font-size: 12px;
                                                            font-weight: 700;
                                                            color: #999;
                                                            cursor: pointer;
                                                            background: #fff
                                                        }
                                                        
                                                        .minimal-light .esg-cartbutton {
                                                            color: #333;
                                                            cursor: default !important
                                                        }
                                                        
                                                        .minimal-light .esg-cartbutton .esgicon-basket {
                                                            color: #333;
                                                            font-size: 15px;
                                                            line-height: 15px;
                                                            margin-right: 10px
                                                        }
                                                        
                                                        .minimal-light .esg-cartbutton-wrapper {
                                                            cursor: default !important
                                                        }
                                                        
                                                        .minimal-light .esg-sortbutton,
                                                        .minimal-light .esg-cartbutton {
                                                            display: inline-block;
                                                            position: relative;
                                                            cursor: pointer;
                                                            margin-right: 0px;
                                                            border-right: none;
                                                            border-radius: 5px 0px 0px 5px;
                                                            -moz-border-radius: 5px 0px 0px 5px;
                                                            -webkit-border-radius: 5px 0px 0px 5px
                                                        }
                                                        
                                                        .minimal-light .esg-navigationbutton:hover,
                                                        .minimal-light .esg-filterbutton:hover,
                                                        .minimal-light .esg-sortbutton:hover,
                                                        .minimal-light .esg-sortbutton-order:hover,
                                                        .minimal-light .esg-cartbutton a:hover,
                                                        .minimal-light .esg-filterbutton.selected {
                                                            background-color: #fff;
                                                            border-color: #bbb;
                                                            color: #333;
                                                            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13)
                                                        }
                                                        
                                                        .minimal-light .esg-navigationbutton:hover * {
                                                            color: #333
                                                        }
                                                        
                                                        .minimal-light .esg-sortbutton-order.tp-desc:hover {
                                                            border-color: #bbb;
                                                            color: #333;
                                                            box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.13) !important
                                                        }
                                                        
                                                        .minimal-light .esg-filter-checked {
                                                            padding: 1px 3px;
                                                            color: #cbcbcb;
                                                            background: #cbcbcb;
                                                            margin-left: 7px;
                                                            font-size: 9px;
                                                            font-weight: 300;
                                                            line-height: 9px;
                                                            vertical-align: middle
                                                        }
                                                        
                                                        .minimal-light .esg-filterbutton.selected .esg-filter-checked,
                                                        .minimal-light .esg-filterbutton:hover .esg-filter-checked {
                                                            padding: 1px 3px 1px 3px;
                                                            color: #fff;
                                                            background: #000;
                                                            margin-left: 7px;
                                                            font-size: 9px;
                                                            font-weight: 300;
                                                            line-height: 9px;
                                                            vertical-align: middle
                                                        }
                                                        .eg-harding-element-0 {
                                                            font-size: 18px !important;
                                                            line-height: 25px !important;
                                                            color: #000000 !important;
                                                            font-weight: 800 !important;
                                                            padding: 0px 0px 0px 0px !important;
                                                            border-radius: 0px 0px 0px 0px !important;
                                                            background-color: rgba(255, 255, 255, 0) !important;
                                                            z-index: 2 !important;
                                                            display: block;
                                                            font-family: "Raleway" !important
                                                        }
                                                        
                                                        .eg-harding-element-5 {
                                                            font-size: 16px;
                                                            line-height: 22px;
                                                            color: #555555;
                                                            font-weight: 300;
                                                            display: block;
                                                            text-align: left;
                                                            clear: both;
                                                            margin: 5px 0px 0px 0px;
                                                            padding: 0px 0px 0px 0px;
                                                            border-radius: 0px 0px 0px 0px;
                                                            background-color: rgba(255, 255, 255, 0);
                                                            position: relative;
                                                            z-index: 2 !important;
                                                            font-family: "Raleway"
                                                        }
                                                        .eg-harding-element-0-a {
                                                            display: block !important;
                                                            text-align: left !important;
                                                            clear: both !important;
                                                            margin: 20px 0px 0px 0px !important;
                                                            position: relative !important
                                                        }

                                                        .eg-harding-container {
                                                            background-color: rgba(130, 36, 227, 0.51)
                                                        }
                                                        .eg-harding-content {
                                                            background-color: #ffffff;
                                                            padding: 0px 0px 0px 0px;
                                                            border-width: 0px 0px 0px 0px;
                                                            border-radius: 0px 0px 0px 0px;
                                                            border-color: transparent;
                                                            border-style: none;
                                                            text-align: center
                                                        }

                                                        .esg-grid .mainul li.eg-harding-wrapper {
                                                            background-color: #ffffff;
                                                            padding: 0px 0px 0px 0px;
                                                            border-width: 0px 0px 0px 0px;
                                                            border-radius: 0px 0px 0px 0px;
                                                            border-color: transparent;
                                                            border-style: none
                                                        }

                                                        .esg-grid .mainul li.eg-harding-wrapper .esg-media-poster {
                                                            background-size: cover;
                                                            background-position: center center;
                                                            background-repeat: no-repeat
                                                        }
