	/* accent color */

	#mobile-menu a:hover,
	#mobile-menu ul.mobile-menu li.current_page_item > a, #mobile-menu ul.mobile-menu li.current_page_parent > a, #mobile-menu ul.mobile-menu li.current-menu-parent > a, #mobile-menu ul.mobile-menu li.current-menu-ancestor > a,
	#mobile-menu ul.mobile-menu li a:hover,
	#mobile-menu .company-info a.tel,
	article.post.format-status .entry-avatar .fa,
	article.post.format-quote .entry-quote .fa,
	article.post.format-quote .quote-caption a,
	.blog-listed .blog article.hentry h3.entry-title a:hover,
	.blog-listed .category article.hentry h3.entry-title a:hover,
	.blog-listed .tag article.hentry h3.entry-title a:hover,
	.blog-listed .author article.hentry h3.entry-title a:hover,
	.blog-listed .date article.hentry h3.entry-title a:hover,
	.search article.hentry h3.entry-title a:hover,
	.blog-listed .blog article.hentry .post-meta a[rel="author"]:hover,
	.blog-listed .category article.hentry .post-meta a[rel="author"]:hover,
	.blog-listed .tag article.hentry .post-meta a[rel="author"]:hover,
	.blog-listed .author article.hentry .post-meta a[rel="author"]:hover,
	.blog-listed .date article.hentry .post-meta a[rel="author"]:hover,
	.search article.hentry .post-meta a[rel="author"]:hover,
	article.post .entry-header h1 a:hover,
	article.post .entry-header h3 a:hover,
	article.post .entry-header .categories-wrap,
	article.post .entry-header .categories-wrap a,
	a:hover,
	#respond .comment-must-logged a,
	.lol-item-service-column h3 a:hover,
	.lol-item-mini-service-column h3 a:hover,
	.lol-item-portfolio-list .entry-meta .lol-love.loved,
	.lol-item-portfolio-list .entry-meta .lol-love:hover,
	.lol-toggle .lol-toggle-header:hover,
	.lol-faq-wrap .lol-faq-header:hover,
	.full-section.light #lol-faq-topics a:hover,
	.single-lolfmk-portfolio .projects-navigation-wrap .lol-love-wrap a:hover,
	.single-lolfmk-portfolio .projects-navigation-wrap .lol-love-wrap a.loved,
	.widget_rss li cite,
	.widget_calendar table tbody tr td a,
	.lol-projects-widget .entry-meta .lol-love.loved,
	.lol-projects-widget .entry-meta .lol-love:hover,
	.full-footer .footer-widget .lol-projects-widget .lol-love.loved, 
	.full-footer .footer-widget .lol-projects-widget .lol-love:hover,
	#footer.dark .lol-projects-widget .lol-love.loved,
	#footer.dark .lol-projects-widget .lol-love:hover,
	.lol-item-section-title h2 span {
	  color: #b6a189;
	}
	#mobile-menu .social-links li a,
	#comment-nav a:hover,
	.full-section.light button:hover,
	.full-section.light input[type="button"]:hover,
	.full-section.light input[type="reset"]:hover,
	.full-section.light input[type="submit"]:hover,
	.full-section.light .lol-button:hover,
	.full-section.light .lol-item-text-banner-alt a.btn-block:hover,
	.full-section.light .post-item .more-link:hover,
	.lol-item-member .member-links li a:hover,
	.full-section.light .lol-item-member .member-links li a:hover,
	.full-section.light .back-faqs:hover,
	.lol-social-widget li a,
	#footer.dark button:hover,
	#footer.dark input[type="button"]:hover,
	#footer.dark input[type="reset"]:hover,
	#footer.dark input[type="submit"]:hover,
	#footer.dark .lol-button:hover,
	#footer.dark .lol-social-widget li a:hover,
	.lol-skill .lol-bar,
	html div.wpcf7-response-output,
	html div.wpcf7-mail-sent-ok {
	  background-color: #b6a189;
	}
	article.post.sticky,
	.blog-listed article.post.sticky {
	  border-bottom: 3px solid #b6a189;
	}
	article.post .post-tags a:hover,
	.widget_tag_cloud a:hover {
	  background: #b6a189;
	  border-color: #b6a189;
	}

	/* primary font family */

	body,
	.price-item .price-plan,
	.sf-menu ul {
		font-family: Raleway;
	}

	/* secondary font family */

	label,
	select,
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.lol-button,
	#site-title,
	#mobile-menu ul.mobile-menu,
	#mobile-menu .company-info a.tel,
	#page-title-wrap .meta-wrap,
	.crumbs,
	article.post .entry-header .categories-wrap a,
	article.post .entry-header .post-meta,
	article.post .more-link,
	article.post .post-tags a,
	article.post .pagelink a,
	article.post.not-found span,
	article.post.no-results span,
	article.post.not-found p,
	article.post.no-results p,
	article.error404 h1,
	.blog-listed .blog article.hentry .post-meta,
	.blog-listed .category article.hentry .post-meta,
	.blog-listed .tag article.hentry .post-meta,
	.blog-listed .author article.hentry .post-meta,
	.blog-listed .date article.hentry .post-meta,
	.search article.hentry .post-meta,
	.about-author .bio-label,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	blockquote,
	blockquote cite,
	cite,
	#comments .commentlist .comment-meta,
	#comments .commentlist .comment-meta .comment-reply-link,
	#comments .comment-awaiting-moderation,
	#comments .nocomments,
	#comments .cancel-comment-reply a,
	#comment-nav a,
	#respond .comment-must-logged,
	.block-woocommerce-required,
	.lol-item-heading h2,
	.lol-item-heading-small h2,
	.lol-item-image-banner .lol-item-image-banner-title,
	.lol-item-text-banner-alt a.btn-block,
	.full-section.light .lol-item-text-banner-alt a.btn-block,
	.post-item .meta-wrap,
	.post-item .more-link,
	.full-section.light .post-item .more-link,
	.lol-item-blog-list .entry-meta .entry-title a,
	.lol-item-portfolio-list .entry-meta .entry-title a,
	.lol-item-member .member-name h3,
	.lol-item-member .member-name span,
	.progress-circle .chart span,
	.lol-item-testimonials .testimonial-title,
	.lol-toggle .lol-toggle-header,
	.lol-faq-wrap .lol-faq-header,
	.back-faqs,
	.job-list .entry-job a,
	.lol-item-call-to-action.light .lol-button-block,
	.lol-item-call-to-action.dark .lol-button-block,
	.portfolio-item .project-categories span,
	.single-lolfmk-portfolio .projects-navigation-wrap .projects-navigation a,
	.single-lolfmk-portfolio .projects-navigation-wrap .lol-love-wrap,
	.single-lolfmk-portfolio .project-details .project-detail span,
	.pagination a,
	.pagination .current,
	.widget_nav_menu a,
	.widget_pages a,
	.widget_categories a,
	.widget_archive li,
	.widget_recent_comments li:before,
	.widget_recent_comments a,
	.widget_recent_entries a,
	.widget_rss li .rsswidget,
	.widget_tag_cloud a,
	.widget_calendar table caption,
	.widget_calendar table thead tr th,
	.widget_calendar table tfoot tr td,
	.widget_meta li:before,
	.widget_meta a,
	.lol-posts-widget .entry-meta .entry-title a,
	.lol-projects-widget .entry-meta .entry-title a,
	.lol-jobs-widget .entry-job a,
	.lol-skill-name,
	.price-item .price-name,
	.price-item .price-cost,
	.lol-dropcap,
	.lolfmk-job .job-location,
	.lolfmk-job .job-tags li,
	.single-attachment #image-navigation a,
	.single-attachment .entry-caption,
	div.pp_default .pp_description,
	#nav-menu,
	.sf-menu .megamenu_wrap > ul > li,
	.sf-menu .megamenu_wrap > ul > li > a,
	.portfolio-tabs li a,
	.faqs-tabs li a {
		font-family: Raleway;
	}


	.term-35  .sidebar-left .side.lm-col-3{
display:none;
}
.term-35 .sidebar-left .cont.lm-col-9 {
    width: 100% !important;
}
.noticias-abajocategoria .product-item a:first-of-type {
    height: 270px;
    overflow: hidden;
    display: block;
}
.term-concentradores-de-oxigeno .noticias-abajocategoria {
    display: block;
}
.noticias-abajocategoria {
    display: none;
}
.page-id-28 #footer{
margin-top:100px;
}

.noticias-abajocategoria {
    float: right;
    width: 100%;
}
.noticias-abajocategoria .product-item img {
    width: 100%;
}
.noticias-abajocategoria .product-item a {
    font-weight: 600;
    color: #8d65ac;
}

.noticias-abajocategoria .product-item {
    height: 300px;
}
.woocommerce-tabs.wc-tabs-wrapper {
    display: none;
}
li#tab-title-reviews {
    display: none;
}
.single-product #reviews{
    border-top: 2px solid #8c64aa;
    padding-top: 30px;
}
.review-helpful-text {
    margin-bottom: 5px;
    font-size: 12px;
    display: none;
}
#histogram-table .histogram-row-label {
    width: 80px;
    display: inline-block;
    font-weight: 700;
    color: #aaa;
}
.lol-review-rating {
    display: none;
}
#sidebar-cart .view-checkout:hover {
    color: #ffffff !important;
    background-color: #8c63ab;
}
.summary .product_meta .sku, .summary .product_meta a, .summary .product_meta p {
    font-weight: 700;
    color: #303030;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
}
div.quantity input[type=number] {
    margin-bottom: 0;
    padding: 8px 0;
    width: 50px;
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
    border-color: #303030;
    margin-bottom: 10px;
}
.summary .product_meta .posted_in, .summary .product_meta .sku_wrapper, .summary .product_meta .tagged_as {
    display: block;
    font-size: 1.3em;
    line-height: 1.9em;
}
div#boton-mas-info {
    text-align: center;
    float: left;
    margin-top: 50px;
    margin-bottom: 30px;
}
div#boton-mas-info a {
    background: #8c64ab;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}
div#boton-mas-info a:hover {
    background: #522d6f;
    color: #fff !important;
    text-decoration: none;
}
a.buttonera:hover {
    background: #522d6f;
    color: #fff !important;
    text-decoration: none;
}

.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
    float: left;
    width: 100%;
}
a.button-mas:hover {
    background: #5d2e82;
    color: #fff !important;
    text-decoration: none;
    font-weight: 500;
}
li.cat-item.cat-item-22, li.cat-item.cat-item-31.cat-parent &gt; a, li.cat-item.cat-item-38, li.cat-item.cat-item-27 {
    display: none;
} 
li.cat-item.cat-item-22.current-cat, li.cat-item.cat-item-27, li.cat-item.cat-item-31.cat-parent a, li.cat-item.cat-item-41, li.cat-item.cat-item-28, li.cat-item.cat-item-29, li.cat-item.cat-item-30.cat-parent a{
display:none;
}
li.cat-item.cat-item-31.cat-parent .children a, li.cat-item.cat-item-30.cat-parent .children a{
display: inline;
}
footer .pull-right.support {
    display: none !important;
}

.woocommerce-checkout #review-col #place_order:hover{
    color: #fff !important;
    background: #000 !important;
}
.gateway-icon {
    max-width: 190px;
}
.term-31 .product-category .product-category-mask:after, .term-30 .product-category .product-category-mask:after {
    top: 0 !important;
}
.page-id-245 li#mega-menu-item-1126258, .woocommerce li#mega-menu-item-1126258, .page-id-411 li#mega-menu-item-1126258, .page-id-245 li#mega-menu-item-1126258{
    display: none !important;
}
.term-31 .product-category .product-category-mask:after, .term-30 .product-category .product-category-mask:after {
    bottom: 0px !important;
}
.term-31 .product-category .product-category-mask , .term-30 .product-category .product-category-mask {
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    max-height: 210px;
}
.term-31 .products .product-category, .term-30 .products .product-category {

    padding: 10px;
}
img.aligncenter.size-full.wp-image-1126256 {
    float: left;
    width: 40%;
    margin: 0;
}
body #wrap #branding .container .lm-col-12 .cart-yes #nav-menu #mega-menu-wrap-primary .mega-menu-item-1126258 a:focus, body #wrap #branding .container .lm-col-12 .cart-yes #nav-menu #mega-menu-wrap-primary .mega-menu-item-1126258 a:active  {
  background: #8c64ab !important;
    color: #fff !important;
}
body #wrap #branding .container .lm-col-12 .cart-yes #nav-menu #mega-menu-wrap-primary .mega-menu-item-1126258 a {
    line-height: 20px !important;
    /* margin-top: 30px; */
    background: #8c64ab;
    color: #fff !important;
    padding: 10px 20px !important;
    border-radius: 10px;
    position: relative;
    top: 20px;
    font-size: 1em !important;
}
body #wrap #branding .container .lm-col-12 .cart-yes #nav-menu #mega-menu-wrap-primary .mega-menu-item-1126258 a:hover{
background: #613f7b !important;
}
img.alignleft.size-full.wp-image-1126257 {
    float: left;
    width: 50%;
    margin: 0;
    padding-top: 20px;
}
#bloque-interior img{
 margin: 0 auto;
}
ul.sub-mega-menu li {
    text-align: center;
}
.products .row {
    display: table;
    width: 100%;
}
.product-wrap {
    height: 300px;
    display: inline-grid;
    overflow: hidden;
}
p.woocommerce-result-count {
    display: none !important;
}
nav.woocommerce-pagination {
    padding-bottom: 50px;
}
li#menu-item-257 input#searchsubmit {
    float: right;
    position: relative;
    top: -26px;
    padding: 8px;
}
.home #heads p {
    text-shadow: 2px 1px 4px transparent !important;
    color: black!important;
    background: transparent;
}
section#comments {
    DISPLAY: NONE;
}
.page-id-12 div#heads p {
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    max-width: 600px;
}
li#menu-item-257 {
    display: none;
}
li#menu-item-257 input#searchsubmit {
    width: 100%;
}
li#menu-item-257 input#searchsubmit {
    width: 100%;
    background: #dadada;
    color: black;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0px;
}
li#menu-item-254 {
    display: none;
}
.page-id-245 li#menu-item-257 {
    display: inline-block;
    min-width: 320px;
    max-width: 100%;
}
.page-id-245 li#menu-item-254 {
    display: inline-block;
}
.page-id-245 li#menu-item-20 {
    display: none;
}
.page-id-245 li#menu-item-95 {
    display: none;
}
.page-id-245 li#menu-item-18 {
    display: none;
}
.page-id-245 li#menu-item-17 {
    display: none;
}
.page-id-245 li#menu-item-19 {
    display: none;
}
.page-id-245 li#menu-item-252 {
    display: none;
}
.page-id-167 #heads {
    padding: 120px;
    margin-bottom: 60px;
    margin-top: 0;
}
.page-id-192 #heads {
    padding: 120px;
    margin-bottom: 60px;
    margin-top: 0;
}
#headsdos h2{    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    text-shadow: none;
    color: #303030;}
.page-id-165 #heads {
    padding: 120px;
    margin-bottom: 60px;
    margin-top: 0;
}
.page-id-131 #heads {
    padding: 120px;
    margin-bottom: 60px;
    margin-top: 0;
}
.page-id-143 #heads {
    padding: 120px;
    margin-bottom: 60px;
    margin-top: 0;
}

.page-id-298 div#heads{
    margin-bottom: 60px;
}

.page-id-178 #heads {
    padding: 120px;
    margin-bottom: 60px;
    margin-top: 0;
}
.page-id-137 #heads {
    padding: 120px;
    margin-bottom: 60px;
    margin-top: 0;
}
.merivaara, .berman{
       line-height: 26px;
    margin: 0 0 5px 0;
    color: black;
    font-size: 16px;
    letter-spacing: normal;
    font-family: sans-serif;
    font-weight: 100;
}
.backy {
    background: rgba(255, 255, 255, 0.46);
padding:10px!important;
}
ul.merivaara{
 margin-left:22px;
}

li#menu-item-64 {
    background: #dadada;
    border-radius: 20px;
        height: 35px;  margin-right: 14px;
}
div#bloque-interior .lol-item-column p {
    margin-top: 10px;    text-align: justify;
}
div#bloque-interior h3 {
    font-weight: 900;
    font-size: 20px;    color: #8c64ab;
    margin-bottom: 0;
    padding: 0;    min-height: 59px;
}
.page-id-113 #heads {
    padding: 120px;
    margin-bottom: 60px;
    margin-top: 0;
}
.page-id-113 #content {
    padding: 0 0 75px 0;
}
.uju .fa {
    margin-right: 8px;
}
div#boxes {
    background: rgba(255, 255, 255, 0.32);
    padding: 40px;
}
.social-meta li a {
    background: gainsboro!important;
}
div#formulario-servicios h3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 40px;
}
#formulario-servicios{max-width:600px;margin:0 auto;}
.opciones .fa-twitter{margin:4px 5px;font-size: 20px;}
.opciones .fa-facebook{margin:4px 5px;font-size: 20px;}
.opciones .fa-linkedin{margin:4px 5px;font-size: 20px;}
div#heads {
    margin-bottom: 0;
    padding-bottom: 50px;
}
p.opciones {
    margin: 0;
}
#content{
    padding: 75px 0 0;
}
a.button-mas {
    border-radius: 6px;
    background: #8c64ab;
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
    max-width: 160px;
    font-size: 12px;
    margin-top: 30px;
}
div#sin-bottom {
    margin-bottom: 0;

}
div#xox p {
    font-size: 18px;
    text-transform: capitalize; font-weight: 300;
}
div#xox {
    color: white;
font-size: 20px;
}
.page-id-8 #content {
    padding: 0 0 0 0;
}
.page-id-12 #content {
    padding: 0 0 75px 0;
}
.page-id-93 #content{
    padding: 0 0 75px 0;
}
div#xox h3 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

div#boxes h3 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #8c64ab;
}
div#boxes p {
    font-size: 15px;
}
.page-id-93 .lol-item-heading h2 {
    color: #8c64ab;
}
div#shd-text1 {
    text-align: justify;
    font-size: 15px;
}
div#logos {
    opacity: 0.7;
}
aside#search {
    display: none;
}
div#shd-text p {
    text-align: justify;
    font-size: 15px;
}
div#shd-text h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 0;
}
nav.crumbs {
    display: none;
}
div#spc h3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    color: #8c64ab;
}
.page-id-8 #heads {
    padding: 120px;
    margin-bottom: 60px;
    margin-top: 0;
}
.page-id-12 #heads {
    padding: 120px;    background-size: 100%!important;
    margin-bottom: 60px;
    margin-top: 0;
}
.page-id-93 #heads {
    padding: 120px;
    margin-bottom: 60px;
    margin-top: 0;
}
.lol-item-service-column h3 {
    font-weight: 500;
    color: #8c64ab;
}
.fa {
    color: #8c64ab;
}
.lol-item-service-column .service-icon {
    background-color: #f7edff;
}
.home i.service-icon {
    display: none!important;
}
div#hacemos-realidad {
    color: black;
    letter-spacing: normal;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
}
#footer .widget-header {
    margin-bottom: 20px;
}
h3.widget-title {
    text-transform: none!important;
    font-size: 18px!important;
}
.divider {
    margin-bottom: 20px;
}
p.footer-bottom-copy span {
    color: #8c64ab;
}
#footer-bottom .lm-col-12 {
    padding: 0;
}
#footer-bottom.dark {
    color: #d1d1d1;
    background-color: #272727;
}
.page-row .divider h3 {
    border-bottom: none;
}
p.footer-bottom-copy {
    text-align: left;    font-weight: 100;
}
.footer-widgets .lm-col-6 {
    float: right;
    width: 30%;
}
div#hacemos-realidad h3 {
    font-family: sans-serif;
    text-transform: none;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    padding: 0;
}
.textwidget p {
    font-weight: 100;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}
.lol-item-service-column p {
    font-size: 15px;
}
a.buttonera {
    background: #8c64ab;
    color: white;
    padding: 20px 70px!important;
    border-radius: 7px;
    text-transform: uppercase;
}
div#heads p {
font-weight: 400;
    color: #000000;
font-size: 22px;
    max-width: 600px;
    background: rgba(140, 100, 171, 0.63);
}
.esg-grid .mainul li.eg-washington-wrapper {
    background-color: transparent!important;}
li#menu-item-63 {
    background: #8c64ab;
    border-radius: 20px;
    height: 35px;
    color: white;
}
div#columnados span {
    color: #8c64ab;
    font-size: 14px;
    letter-spacing: normal;
    font-family: sans-serif;
    font-weight: 100;
}
div#columnados p {
line-height: 30px;
    margin: 0 0 5px 0;
    color: black;
    font-size: 16px;
    letter-spacing: normal;
    font-family: sans-serif;
    font-weight: 100;
}
#page-title-wrap h1, #page-title-wrap h3 {
    margin-bottom: 0;
    line-height: 38.832px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 2px 2px 4px black;
    color: #f9f9f9;
}
div#heads h2 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 2px 2px 4px black;
    color: #f9f9f9;
}
.home div#heads h2 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    text-shadow: none;
    color: #303030;
}
li#menu-item-63 a {
    color: white;
}
.sf-menu li a {
    padding: 5px 0;
}
.page-id-103 h3 {
    font-weight: 500;
    color: #8c64ab;
    font-size: 2em;
}
.page-id-103 .full-section {
    padding: 0px 0 70px;
}
.page-id-103 input.wpcf7-form-control.wpcf7-submit {
    width: 100%;
    background: #8c64ab;
    font-size: 1.2em;
}
.page-id-103 #heads {
    padding: 100px;
    margin-bottom: 60px;
    margin-top: 0;
}
.page-id-103 #content {
    padding: 0 0;
}

ul.marcas{
text-align:center;
}
.marcas li{
	display: inline-block;
	margin: 5px 35px;
}


footer label{
   color: #fff;
   margin-bottom: 0px;
}

div#heads p {
	    font-weight: 500 !important;
	    text-shadow: 2px 1px 4px black !important;
	    color: #f9f9f9 !important;
	}

.post-meta .meta-wrap:first-child,
	.post-meta .meta-wrap:nth-child(3){
		display: none !important;
	}


#menu-item-323,
#menu-item-324,
#menu-item-325{
	display: none;
}
	#mega-menu-wrap-primary {
		background-color: transparent !important;
	}

.page-id-245 #mega-menu-item-20,
	.page-id-245 #mega-menu-item-64,
	.page-id-245 #mega-menu-item-63,
	.page-id-245 #mega-menu-item-95,
	.page-id-245 #mega-menu-item-17,
	.page-id-245 #mega-menu-item-18,
	.page-id-245 #mega-menu-item-19,
	.page-id-245 #icon-search-btn{
		display: none !important;
	}

	.page-id-245 #mega-menu-item-254{
		float: right !important;
	}

	.page-id-245 #mega-menu-item-257{
		display: block !important;
	}

.text_input{
	width: 300px !important;
}



.menu-item.menu-item-search{
	display: none ;
}

.page-id-245 .menu-item.menu-item-search{
	display: block !important;
}
@media all and (max-width: 1200px) and (min-width: 992px){
{
.page-id-245 .lm-col-12 #nav-menu {
    width: 80% !important;
}
#mega-menu-wrap-primary #mega-menu-primary input, #mega-menu-wrap-primary #mega-menu-primary img {
    max-width: 30% !important;
}
}
@media (max-width: 1200px){
{
#mega-menu-wrap-primary #mega-menu-primary input, #mega-menu-wrap-primary #mega-menu-primary img {
    max-width: 30% !important;
}
}
@media (max-width: 992px){
.woocommerce-page #searchform, .page-id-245 #searchform {
    display: block;
}
}
@media (min-width: 992px){

		 .page-id-245 .sf-menu&gt;li {
		    height: 60px !important;
		}	

		.page-id-245 .search-yes #nav-menu {
		    margin-left: 100px !important;
		    /* margin: 0 auto; */
		}

		

		 .page-id-245 .lm-col-12 #nav-menu{
			float: none !important;
			text-align: center;
                       width: 80% !important;
		}

		.page-id-245 header{
			height: 130px !important;
		}
}


#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link{
	padding: 7px 5px !important;
}

#mega-menu-wrap-primary #mega-menu-primary{
	text-align: center !important;
}
#mega-menu-wrap-primary #mega-menu-primary input, #mega-menu-wrap-primary #mega-menu-primary img {
    max-width: 30% !important;
}
 #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-toggle-on a.mega-menu-link, 
 #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link:hover,
  #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link:focus
 {
 	background-color: transparent !important;
 	color: #000 !important;
 }

 .mega-sub-menu{
 	list-style: none !important;
 	 margin-top: 42px !important;
 }

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link{
    color: #000 !important;
    margin: 0 5px;
    position: relative;
    display: block;
    line-height: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 70px !important;
    padding: 7px 2px !important;
	
}

#mega-menu-item-323,
#mega-menu-item-324,
#mega-menu-item-325{
	display: none !important;
}
.page-id-245 #mega-menu-item-323,
.page-id-245 #mega-menu-item-324,
.page-id-245 #mega-menu-item-325{
	display: inline-block !important;
}

.my-wp-search{
	background: #8c64ab !important;
	color: #fff !important;
}

.page-id-245 #nav-menu{
	width: 80% !important
}	

	/* accent color */

	.shop_table td.product-name dl.variation,
	.shop_table .backorder_notification,
	.woocommerce-message .wc-forward,
	.product-item .yith-wcwl-add-to-wishlist a:hover,
	.summary .product_meta a:hover,
	.summary .product_meta .sku:hover,
	#histogram-table .histogram-row-label a:hover,
	#comments-loaded-wrap #comments-close-btn:hover,
	.summary .stock,
	.woocommerce-checkout .woocommerce-info-login a,
	.woocommerce-checkout .woocommerce-info-coupon a,
	.woocommerce-checkout #review-col a,
	.woocommerce-checkout #review-col .shop_table thead tr,
	.woocommerce-checkout #review-col #payment .payment_method_paypal .gateway-icon a:hover,
	.sidebar-account a,
	.woocommerce-account .address h4,
	.woocommerce-account .lm-col-8 .digital-downloads a,
	#sidebar-cart a:hover,
	#sidebar-cart .username,
	#sidebar-cart .cart-product .cart-product-title:hover {
	  color: #b6a189;
	}
	.demo_store,
	.product-item .soldout,
	.summary .variations_form.cart .reset_variations,
	.summary .yith-wcwl-add-button a:hover,
	.summary .yith-wcwl-wishlistaddedbrowse a:hover,
	.summary .yith-wcwl-wishlistexistsbrowse a:hover,
	.woocommerce-cart .shipping_calculator .button,
	.woocommerce-checkout #review-col #place_order,
	.has-not-bg #page.register-page .myaccount-login .my-account-tabs a:hover,
	.has-not-bg #page.register-page .myaccount-login .my-account-tabs li.active a,
	.woocommerce-account .address .edit:hover,
	.dark .widget_shopping_cart_content .wc-forward,
	.dark .widget_shopping_cart_content .wc-forward.checkout:hover,
	.dark .widget_price_filter .ui-slider .ui-slider-range,
	#sidebar-cart .view-checkout,
	.widget_layered_nav li.chosen a,
	.widget_layered_nav_filters li.chosen a {
	  background-color: #b6a189;
	}
	div.quantity input[type="number"]:focus {
	  outline: none;
	  border-color: #b6a189;
	}
	.full-section.light .product-item .added_to_cart:hover {
	  color: #fff;
	  border: 2px solid #b6a189;
	  background: #b6a189;
	}
	.woocommerce-account .lm-col-8 .shop_table tbody td.order-status span,
	.woocommerce-wishlist .wishlist_table tr td.product-stock-status span.wishlist-in-stock,
	.woocommerce-wishlist .wishlist_table tr td.product-stock-status span.wishlist-out-of-stock {
	  color: #b6a189;
	  border: 2px solid #b6a189;
	}
	.widget_product_tag_cloud a:hover {
	  background: #b6a189;
	  border-color: #b6a189;
	}
	#sidebar-cart .cart-count .count {
	  border: 2px solid #b6a189;
	}
	.summary .stock {
		border-color: #b6a189;
	}

	/* primary font family */

	.woocommerce-cart .cart-totals-calculator .input-text,
	.woocommerce-cart .cart-totals-calculator input[type="text"],
	.woocommerce-cart .cart-totals-calculator input[type="password"],
	.woocommerce-cart .cart-totals-calculator input[type="datetime"],
	.woocommerce-cart .cart-totals-calculator input[type="datetime-local"],
	.woocommerce-cart .cart-totals-calculator input[type="date"],
	.woocommerce-cart .cart-totals-calculator input[type="month"],
	.woocommerce-cart .cart-totals-calculator input[type="time"],
	.woocommerce-cart .cart-totals-calculator input[type="week"],
	.woocommerce-cart .cart-totals-calculator input[type="number"],
	.woocommerce-cart .cart-totals-calculator input[type="email"],
	.woocommerce-cart .cart-totals-calculator input[type="url"],
	.woocommerce-cart .cart-totals-calculator input[type="search"],
	.woocommerce-cart .cart-totals-calculator input[type="tel"],
	.woocommerce-cart .cart-totals-calculator input[type="color"],
	.woocommerce-cart .cart-totals-calculator textarea,
	.woocommerce-checkout #review-col input[type="text"],
	.woocommerce-checkout #review-col input[type="password"],
	.woocommerce-checkout #review-col input[type="datetime"],
	.woocommerce-checkout #review-col input[type="datetime-local"],
	.woocommerce-checkout #review-col input[type="date"],
	.woocommerce-checkout #review-col input[type="month"],
	.woocommerce-checkout #review-col input[type="time"],
	.woocommerce-checkout #review-col input[type="week"],
	.woocommerce-checkout #review-col input[type="number"],
	.woocommerce-checkout #review-col input[type="email"],
	.woocommerce-checkout #review-col input[type="url"],
	.woocommerce-checkout #review-col input[type="search"],
	.woocommerce-checkout #review-col input[type="tel"],
	.woocommerce-checkout #review-col input[type="color"],
	.woocommerce-checkout #review-col textarea,
	.sidebar-account input[type="text"],
	.sidebar-account input[type="password"],
	.sidebar-account input[type="datetime"],
	.sidebar-account input[type="datetime-local"],
	.sidebar-account input[type="date"],
	.sidebar-account input[type="month"],
	.sidebar-account input[type="time"],
	.sidebar-account input[type="week"],
	.sidebar-account input[type="number"],
	.sidebar-account input[type="email"],
	.sidebar-account input[type="url"],
	.sidebar-account input[type="search"],
	.sidebar-account input[type="tel"],
	.sidebar-account input[type="color"],
	.sidebar-account textarea,
	.woocommerce-account .lm-col-8 .shop_table tbody td.order-status span {
	  font-family: Raleway;
	}

	/* secondary font family */

	div.quantity input[type="number"],
	.shop_table,
	.woocommerce-info,
	.woocommerce-message,
	.woocommerce-error,
	.archive.woocommerce .page-description,
	.archive.woocommerce .term-description,
	.products-filter .products-page-filter a,
	.woocommerce-pagination a,
	.woocommerce-pagination .dots,
	.woocommerce-pagination .current,
	.product-item .product-categories span,
	.product-item .price,
	.product-item .button,
	.product-item .added_to_cart,
	.product-category h3 span,
	.summary .price,
	.summary .variations_form.cart .reset_variations,
	.summary .product_meta,
	.summary .yith-wcwl-add-button a,
	.summary .yith-wcwl-wishlistaddedbrowse a,
	.summary .yith-wcwl-wishlistexistsbrowse a,
	.summary .yith-wcwl-add-to-wishlist .feedback,
	.product-type-grouped .summary form.cart table .button,
	.product-type-external .single_add_to_cart_button,
	.woocommerce-tabs .tabs a,
	.woocommerce-tabs #comments p.meta,
	.woocommerce-tabs #comments .woocommerce-noreviews,
	.woocommerce-tabs #respond .must-log-in,
	.woocommerce-tabs .comment-tabs,
	.woocommerce-tabs .view-all-ratings,
	#histogram-table,
	.review-helpful-text span,
	.lol-review-rating,
	#comments-loaded-wrap p.meta,
	.woocommerce-cart .cart-totals-calculator,
	.cart-empty-wrap .cart-empty,
	.cart-empty-wrap .wc-backward,
	.woocommerce-checkout .checkout-must-be-logged-in,
	.woocommerce-checkout .woocommerce-info-login,
	.woocommerce-checkout .woocommerce-info-coupon,
	.woocommerce-checkout form.login .lost_password,
	.woocommerce-checkout .thankyou-wrap .thankyou_text,
	.woocommerce-checkout .thankyou-wrap .order_details_wrap .order_details li,
	.woocommerce-checkout .thankyou-wrap .bacs_details li,
	.woocommerce-checkout .thankyou-wrap .thankyou-btns a,
	#page.register-page .myaccount-login .my-account-tabs li.user-login-tab-default,
	#page.register-page .myaccount-login .my-account-tabs a,
	#page.register-page .myaccount-login form.login p.lost_password,
	#page.register-page .myaccount-lost-password .left-panel p,
	#page.register-page .lost_reset_password p.lost-reset-password-message,
	.sidebar-account .notes .meta,
	.woocommerce-account .address .edit,
	.order-again .button,
	.no-orders-myaccount .orders-empty,
	.no-orders-myaccount .wc-backward,
	.track-order-wrap .left-panel p,
	.track_order p.track-order-message,
	.widget_product_categories a,
	.product_list_widget,
	.widget_product_tag_cloud a,
	.widget_layered_nav li,
	.widget_layered_nav_filters li,
	.widget_shopping_cart_content li.empty,
	.widget_shopping_cart_content .total,
	.widget_shopping_cart_content .wc-forward,
	.widget_price_filter .price_label,
	#sidebar-cart .cart-count,
	#sidebar-cart .cart-count .count,
	#sidebar-cart .login-logout,
	#sidebar-cart h4,
	#sidebar-cart .cart-product .cart-product-meta,
	#sidebar-cart .cart-product .cart-product-title,
	#sidebar-cart .cart-subtotal,
	#sidebar-cart .view-checkout,
	#sidebar-cart .no-products,
	.woocommerce-wishlist h2,
	.woocommerce-wishlist .wishlist_table tr td .add_to_cart {
		font-family: Raleway;
	}

