/*body{margin:0;}*/
/*ENCABEZADO-------------------------------------------------------------------------------------------------*/
/*Puedes añadir tu propio CSS aquí.
Haz clic en el icono de ayuda de arriba para averiguar más.*/
.submenu1{
font-size:11px;
/*background-color:transparent !important;*/
background:#F00;
opacity:0.8;
margin-top:5px;
padding:5px 2px;
min-height:0px;
width:220px;
position:absolute;
top:0;
right:-200px;
text-transform:capitalize;
}
.submenu1 ul{
list-style:none;
color:#fff;	
}
.submenu1 ul li {background-color:transparent !important;}
.submenu1 ul li:hover{background-color:#000 !important;}
#sm1,#sm2,#sm3,#sm4,#sm5,#sm6,#sm7{display:none;}
#sm2{top:22px;}
#sm3{top:44px;}
#sm4{top:66px;}
#sm5{top:88px;}
#sm6{top:110px;}
#sm7{top:122px;}
/*RESPONSIVO----------------------------------------------------------------------------------------------*/
@media screen and (max-width:1200px){

}