/* Do not delete this line */

/* ------------------------------------------
* BACKUP THIS FILE WHEN YOU UPDATE THE THEME!
------------------------------------------ */



/* Basic Styles
-------------------------------------------------------------- */
/*ROJO*/
#btn-10,#btn-43{
color:#fff;
font-size:20px;
padding:10px 28px;
background:#D9251A;
text-align:center;
text-decoration:none;
}
#btn-10:hover,#btn-43:hover{
color:#fff !important;
background:#C00;
text-decoration:none;
}
/*AZUL*/
#btn-21,#btn-54{
color:#fff;
font-size:20px;
padding:10px 28px;
background:#0cf;
text-align:center;
text-decoration:none;
margin-top:25px;
}
#btn-21:hover,#btn-54:hover{
color:#fff !important;
background:#0ad;
text-decoration:none;
}
/*VERDE*/
#btn-32,#btn-65{
color:#fff;
font-size:20px;
padding:10px 28px;
background:#4FB9B8;
text-align:center;
text-decoration:none;
margin-top:42px;
}
#btn-32:hover,#btn-65:hover{
color:#fff !important;
background:#368280;
text-decoration:none;
}

.tit-azul{
color:#D9251A;
font-size:18px;
font-weight:bold;
text-align:center;
}
.tit-black{
color:#000;
font-size:16px;
font-weight:bold;
text-align:center;
height:45px;
}
.desc-txt{
color:#666;
padding:6px 2px 12px 2px;
text-align:justify;
height:200px;
}
.btn-azul{
color:#fff;
font-size:20px;
padding:10px 28px;
background:#D9251A;
text-align:center;
text-decoration:none;
}
.btn-azul:hover{
color:#fff !important;
background:#C00;
text-decoration:none;
}
#layer-content{position:relative; top:0; left:0; width:100%; font-size:20px; color:#fff;}
#layer-space{margin:10px auto; padding-top:80px; width:60%; height:250px}
.tit72{font-size:68px; font-weight:bold; padding:0px 0 15px 0;}
.tit52{font-size:48px; color:#D9251A; font-weight:bold;padding:0px 0 20px 0;}
.tit28{font-size:28px; color:#000; font-weight:bold; padding:0px 0 20px 0;}
.txt18{font-size:18px; color:#000; font-weight:700; padding:0px 0 15px 0;}
.ma-a{margin-top:15px;}
#im_btn{float:left; width:150px; margin-left:30px;}
.azul a{color:#D9251A;}
.azul{color:#D9251A !important;}
/* Add basic rules her

/*blog*/
#cont-coment{
	background:#ddd;
	padding:10px 15px;
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;	
}

.textwidget{ background:rgba(0,0,0,0.8); padding:5px 10px;}
.textwidget .sub-mega-menu li a{color:#fff; text-decoration:none; /*padding:2px 5px;*/}
.textwidget .sub-mega-menu li a:hover{color:#fff !important; /*background-color:#D9251A;*/}

/****/
/*.tparrows{ display:none !important;}*/
/****/
@media screen and (max-width: 950px) {
#layer-space{padding-top:60px; width:80%;}
}
@media screen and (max-width: 750px) {
#layer-space{padding-top:1px; width:80%;}
.tit72{font-size:28px; font-weight:bold;padding:15px 0 25px 0;}
.tit52{font-size:32px; font-weight:bold;padding:0px 0 10px 0;}
.tit28{font-size:18px; font-weight:bold;padding:0px 0 10px 0;}
.txt18{font-size:10px; font-weight:bold;padding:0px 0 2px 0;}
.btn-azul{font-size:16px;}
}
