                                                        a.eg-henryharrison-element-1,
                                                        a.eg-henryharrison-element-2 {
                                                            -webkit-transition: all .4s linear;
                                                            -moz-transition: all .4s linear;
                                                            -o-transition: all .4s linear;
                                                            -ms-transition: all .4s linear;
                                                            transition: all .4s linear
                                                        }
                                                        
                                                        .eg-jimmy-carter-element-11 i:before {
                                                            margin-left: 0px;
                                                            margin-right: 0px
                                                        }
                                                        
                                                        .eg-harding-element-17 {
                                                            letter-spacing: 1px
                                                        }
                                                        
                                                        .eg-harding-wrapper .esg-entry-media {
                                                            overflow: hidden;
                                                            box-sizing: border-box;
                                                            -webkit-box-sizing: border-box;
                                                            -moz-box-sizing: border-box;
                                                            padding: 30px 30px 0px 30px
                                                        }
                                                        
                                                        .eg-harding-wrapper .esg-entry-media img {
                                                            overflow: hidden;
                                                            border-radius: 50%;
                                                            -webkit-border-radius: 50%;
                                                            -moz-border-radius: 50%
                                                        }
                                                        
                                                        .eg-ulysses-s-grant-wrapper .esg-entry-media {
                                                            overflow: hidden;
                                                            box-sizing: border-box;
                                                            -webkit-box-sizing: border-box;
                                                            -moz-box-sizing: border-box;
                                                            padding: 30px 30px 0px 30px
                                                        }
                                                        
                                                        .eg-ulysses-s-grant-wrapper .esg-entry-media img {
                                                            overflow: hidden;
                                                            border-radius: 50%;
                                                            -webkit-border-radius: 50%;
                                                            -moz-border-radius: 50%
                                                        }
                                                        
                                                        .eg-richard-nixon-wrapper .esg-entry-media {
                                                            overflow: hidden;
                                                            box-sizing: border-box;
                                                            -webkit-box-sizing: border-box;
                                                            -moz-box-sizing: border-box;
                                                            padding: 30px 30px 0px 30px
                                                        }
                                                        
                                                        .eg-richard-nixon-wrapper .esg-entry-media img {
                                                            overflow: hidden;
                                                            border-radius: 50%;
                                                            -webkit-border-radius: 50%;
                                                            -moz-border-radius: 50%
                                                        }
                                                        
                                                        .eg-herbert-hoover-wrapper .esg-entry-media img {
                                                            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
                                                            filter: gray;
                                                            -webkit-filter: grayscale(100%)
                                                        }
                                                        
                                                        .eg-herbert-hoover-wrapper:hover .esg-entry-media img {
                                                            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
                                                            -webkit-filter: grayscale(0%)
                                                        }
                                                        
                                                        .eg-lyndon-johnson-wrapper .esg-entry-media img {
                                                            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
                                                            filter: gray;
                                                            -webkit-filter: grayscale(100%)
                                                        }
                                                        
                                                        .eg-lyndon-johnson-wrapper:hover .esg-entry-media img {
                                                            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
                                                            -webkit-filter: grayscale(0%)
                                                        }
                                                        
                                                        .esg-overlay.eg-ronald-reagan-container {
                                                            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
                                                            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
                                                        }
                                                        
                                                        .eg-georgebush-wrapper .esg-entry-cover {
                                                            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
                                                            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
                                                        }
                                                        
                                                        .eg-jefferson-wrapper {
                                                            -webkit-border-radius: 5px !important;
                                                            -moz-border-radius: 5px !important;
                                                            border-radius: 5px !important;
                                                            -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
                                                        }
                                                        
                                                        .eg-monroe-element-1 {
                                                            text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
                                                        }
                                                        
                                                        .eg-lyndon-johnson-wrapper .esg-entry-cover {
                                                            background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
                                                            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
                                                            background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
                                                            background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
                                                            background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
                                                            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
                                                            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
                                                        }
                                                        
                                                        .eg-wilbert-wrapper .esg-entry-cover {
                                                            background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
                                                            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
                                                            background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
                                                            background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
                                                            background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
                                                            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
                                                            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
                                                        }
                                                        
                                                        .eg-wilbert-wrapper .esg-entry-media img {
                                                            -webkit-transition: 0.4s ease-in-out;
                                                            -moz-transition: 0.4s ease-in-out;
                                                            -o-transition: 0.4s ease-in-out;
                                                            transition: 0.4s ease-in-out;
                                                            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
                                                            filter: gray;
                                                            -webkit-filter: grayscale(100%)
                                                        }
                                                        
                                                        .eg-wilbert-wrapper:hover .esg-entry-media img {
                                                            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
                                                            -webkit-filter: grayscale(0%)
                                                        }
                                                        
                                                        .eg-phillie-element-3:after {
                                                            content: " ";
                                                            width: 0px;
                                                            height: 0px;
                                                            border-style: solid;
                                                            border-width: 5px 5px 0 5px;
                                                            border-color: #000 transparent transparent transparent;
                                                            left: 50%;
                                                            margin-left: -5px;
                                                            bottom: -5px;
                                                            position: absolute
                                                        }
                                                        
                                                        .eg-howardtaft-wrapper .esg-entry-media img,
                                                        .eg-howardtaft-wrapper .esg-media-poster {
                                                            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
                                                            -webkit-filter: grayscale(0%)
                                                        }
                                                        
                                                        .eg-howardtaft-wrapper:hover .esg-entry-media img,
                                                        .eg-howardtaft-wrapper:hover .esg-media-poster {
                                                            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
                                                            filter: gray;
                                                            -webkit-filter: grayscale(100%)
                                                        }
                                                        
                                                        .myportfolio-container .added_to_cart.wc-forward {
                                                            font-family: "Open Sans";
                                                            font-size: 13px;
                                                            color: #fff;
                                                            margin-top: 10px
                                                        }
                                                        
                                                        .esgbox-title.esgbox-title-outside-wrap {
                                                            font-size: 15px;
                                                            font-weight: 700;
                                                            text-align: center
                                                        }
                                                        
                                                        .esgbox-title.esgbox-title-inside-wrap {
                                                            padding-bottom: 10px;
                                                            font-size: 15px;
                                                            font-weight: 700;
                                                            text-align: center
                                                        }
                                                        
                                                        .esg-content.eg-twitterstream-element-33-a {
                                                            display: inline-block
                                                        }
                                                        
                                                        .eg-twitterstream-element-35 {
                                                            word-break: break-all
                                                        }
                                                        
                                                        .esg-overlay.eg-twitterstream-container {
                                                            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
                                                            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
                                                        }
                                                        
                                                        .esg-content.eg-facebookstream-element-33-a {
                                                            display: inline-block
                                                        }
                                                        
                                                        .eg-facebookstream-element-0 {
                                                            word-break: break-all
                                                        }
                                                        
                                                        .esg-overlay.eg-flickrstream-container {
                                                            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
                                                            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
                                                            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
                                                        }

