/*!
Theme Name: Nantes Child
Theme URI: http://www.demo.lollum.com/nantes
Description: Child Theme for Nantes.
Tags: white, light, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, full-width-template, custom-menu, featured-images, post-formats, sticky-post, theme-options, translation-ready
Author: Lollum
Author URI: http://www.lollum.com/
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: nantes
Version: 1.0
*/

/*@import url('style1.css');*/

/* -------- Theme customization starts here -------- */
select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
#wpcButton_4070368 {
    min-height: 35px !important;
    margin: 0px 5px 0px 5px;
}
.woocommerce-checkout #review-col .shop_table thead tr {
    font-size: 16px;
    color: #fff !important;
    background-color: transparent;
}
.entry-content .woocommerce .woocommerce-error {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    margin-top: -30px;
}
.product-item .added_to_cart:hover {
    color: #fff !important;
    text-decoration: none;
    border: 2px solid #D9251A !important;
    background: #D9251A !important;
}
.woocommerce-checkout #review-col select {
    border-color: #f6f6f6;
    color: #f6f6f6;
    background-color: #D9251A !important;
    background-image: url(../../images/select_light.png);
}
.woocommerce-checkout #review-col #place_order {
    margin-bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #303030 !important;
}
.woocommerce-checkout.woocommerce-checkout #review-col {
    margin-top: 70px;
    padding: 40px;
    color: #f6f6f6;
    background-color: rgb(140, 99, 171);
}
.product-item .added_to_cart {
    padding: 3px 15px;
    display: inline-block;
    font-family: Montserrat;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #D9251A;
    background-color: #D9251A !important;
}
.product-item .button:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #D9251A !important;
}
.menu-item.menu-item-search{
	display: none ;
}

.woocommerce-tabs .tabs a:hover{
    background-color: #D9251A !important;
    color: #fff !important;
}

body.page-id-245{
	margin-top: 22px !important;
}
@media (max-width: 640px){
#page-title-wrap .page-title {
    padding: 0 20px !important;
   
}
	}

@media (max-width: 992px){
.woocommerce-page #searchform, .page-id-245 #searchform {
    display: block !important;
}
}
@media (min-width: 992px){
	
		
		
		.page-id-245 .sf-menu>li {
		    height: 60px !important;
		}	
		
		.page-id-411 .search-yes #nav-menu,
		.page-id-1126195 .search-yes #nav-menu,
		.page-id-245 .search-yes #nav-menu {
		    margin-left: 100px !important;
		    /* margin: 0 auto; */
		}		

		 .page-id-411 #nav-menu,
		 .page-id-1126195 #nav-menu,
		 .page-id-245 #nav-menu{
			float: none !important;
			text-align: center;
		}

		.page-id-411 header,
		.page-id-1126195 header,
		.page-id-245 header{
			height: 130px !important;
		}
}


.menu-img{
	width: 60%;
	margin: 0 auto;
}


#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link{
	padding: 7px 5px !important;
}

#mega-menu-wrap-primary #mega-menu-primary{
	text-align: center !important;
}

 #nav-menu #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-toggle-on a.mega-menu-link, 
 #nav-menu #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link:hover,
 #nav-menu #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link:focus
 {
 	background-color: transparent !important;
 	color: #D9251A;
 }

 ul.mega-sub-menu{ 	
 	 margin-top: 24px !important;
 	 background-color: #fff !important
 }

ul.sub-mega-menu{
	list-style: none !important;
}

#mobile-menu{
	background-color: #000 !important
}    

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link{
	color: #000;
	margin: 0 20px;
	position: relative;
	display: block;
	line-height: 25px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 70px !important;
	
}
#nav-menu #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-toggle-on a.mega-menu-link .azul a,
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link .azul a{
	color:#D9251A;
}
.mobile-menu li#menu-item-64,
.mobile-menu li#menu-item-63{
	background-color: transparent !important;
}

#mega-menu-item-1126237,
#mega-menu-item-323,
#mega-menu-item-324,
#mega-menu-item-325{
	display: none !important;
}




.my-wp-search{
	background: #D9251A !important;
	color: #fff !important;
}



.pull-right{
		float: right;
}

.support{
	margin-top: -40px;
}

div#heads p{
	padding: 10px;
    border-radius: 5px
}

footer .menu-search-form, footer .support{
    display: none;
}


/******/
.single-post #page-title-wrap .page-title {
    padding: 0 30px;
    position: relative;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

.lol-sticky-header-yes #branding{
	position: inherit !important;
}
.lol-sticky-header-yes.fixed-yes #branding.light{
	position: fixed !important;
}


.single-post #page-title-wrap h1 {
     margin-bottom: 0;
    line-height: 28.832px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 27px;
    text-shadow: none;
    /* color: #D9251A; */
    color: #FFF;
}
.single-post  #page-title-wrap .meta-wrap .meta {
    margin: 0 5px;
    display: inline-block;
    color: #fff;
}
/* -------- TIENDA / WOOCOMERCE -------- */
.single-product .related .row {
    display: table;
    width: 100%;
}
a:hover{
	color: #D9251A !important;
	text-decoration:none;
}

.product-category .product-category-mask:after{
	top: 80px !important;
	bottom: 32px !important;
}

.product-category .product-category-mask{
	text-decoration: none !important;
	box-shadow: 0px 1px 10px #8a8a8a;
    margin-bottom: 35px;
}

.products .row{
	display: table;
}
.products .product-category{
	margin-bottom: -35px;
	display: inline-table;
	padding: 50px
}

.product-wrap{
    height: 300px;
    display: table;
}

.product-item .product-mask {
    vertical-align: middle;
    display: table-cell !important;
}

body #mega-menu-wrap-primary #mega-menu-primary li#mega-menu-item-462,
.cart-yes #icon-cart{
	display: none;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-toggle-on a.mega-menu-link, 
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link:hover, 
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link:focus{
	color: #D9251A !important; 
}


/* MUESTRA EL BOTON DE CARRITO DENTRO DE PAGINA TIENDA Y SELECCIONADAS COMO TIENDA */
/*---------------------------------------------------------------------------------*/

.page-id-245 .menu-item.menu-item-search,
.term-22 .menu-item.menu-item-search,
.term-23 .menu-item.menu-item-search,
.term-24 .menu-item.menu-item-search,
.term-25 .menu-item.menu-item-search,
.term-26 .menu-item.menu-item-search,
.term-27 .menu-item.menu-item-search,
.woocommerce-page .menu-item.menu-item-search,
.woocommerce-page #icon-cart,
.page-id-245 #icon-cart,
.page-id-411 #icon-cart,
.page-id-1126195 #icon-cart{
	display: block !important;
}

.woocommerce-page header {
    height: 130px !important;
}


/*.mobile-menu #menu-item-20,
.mobile-menu #menu-item-64,
.mobile-menu #menu-item-63,
.mobile-menu #menu-item-95,
.mobile-menu #menu-item-17,
.mobile-menu #menu-item-18,
.mobile-menu #menu-item-19,
.woocommerce-page #icon-search-btn{
		display: block !important;
	}*/

.page-id-411 #mega-menu-item-20,
.page-id-411 #mega-menu-item-64,
.page-id-411 #mega-menu-item-63,
.page-id-411 #mega-menu-item-95,
.page-id-411 #mega-menu-item-17,
.page-id-411 #mega-menu-item-18,
.page-id-411 #mega-menu-item-19,
.page-id-411 #mega-menu-item-64,
.page-id-411 #mega-menu-item-63,

.page-id-1126195 #mega-menu-item-20,
.page-id-1126195 #mega-menu-item-64,
.page-id-1126195 #mega-menu-item-63,
.page-id-1126195 #mega-menu-item-95,
.page-id-1126195 #mega-menu-item-17,
.page-id-1126195 #mega-menu-item-18,
.page-id-1126195 #mega-menu-item-19,
.page-id-1126195 #mega-menu-item-64,
.page-id-1126195 #mega-menu-item-63,
.woocommerce-page #mega-menu-item-20,
.woocommerce-page #mega-menu-item-64,
.woocommerce-page #mega-menu-item-63,
.woocommerce-page #mega-menu-item-95,
.woocommerce-page #mega-menu-item-17,
.woocommerce-page #mega-menu-item-18,
.woocommerce-page #mega-menu-item-19,
.woocommerce-page #mega-menu-item-462,
.woocommerce-page #icon-search-btn,
footer .footer .support,
.woocommerce-page #menu-menu-footer .support{
		display: none !important;
}

body.page-id-245 #nav-menu,
.page-id-411 #nav-menu,
.page-id-1126195 #nav-menu{
	width: 86% !important
}


.page-id-411 #mega-menu-item-1126237, 
.page-id-245 #mega-menu-item-1126237, 
.page-id-1126195 #mega-menu-item-1126237, 
.page-id-411 #mega-menu-item-323,
.page-id-411 #mega-menu-item-324,
.page-id-411 #mega-menu-item-325,
.page-id-411 #mega-menu-item-462,
.page-id-1126195 #mega-menu-item-323,
.page-id-1126195 #mega-menu-item-324,
.page-id-1126195 #mega-menu-item-325,
.page-id-1126195 #mega-menu-item-462,
.page-id-245 #mega-menu-item-323,
.page-id-245 #mega-menu-item-324,
.page-id-245 #mega-menu-item-325,
.page-id-245 #mega-menu-item-462,
.woocommerce-page #mega-menu-item-462,
.woocommerce-page #mega-menu-item-324,
.woocommerce-page #mega-menu-item-325,
.woocommerce-page #mega-menu-item-323,
.woocommerce-page #mega-menu-item-324,
.woocommerce-page #mega-menu-item-325,
.woocommerce-page .support{
	display: inline-block !important;
}

.page-id-411 .support,
.page-id-1126195 .support,
.page-id-245 .support,
.page-id-411 .menu-item.menu-item-search,
.page-id-1126195 .menu-item.menu-item-search,
.page-id-245 .menu-item.menu-item-search{
	display: block !important;
}
.support{
	display: none;
}

/*.page-id-245 .support{
	display: block;
}*/



.woocommerce-page #nav-menu {
    width: 86% !important;
}


.payment_method_conektacard select {
    border: 2px solid #dddddd !important;
}
.woocommerce-checkout #review-col #payment p {
    margin-left: 0 !important;
    font-size: 13px;
    line-height: 20px;
    width: 100%;
}


/*MEMNU RESPONSIVO COLLAPSE*/
	.page-id-411 .mobile-menu #menu-item-20,
	.page-id-411 .mobile-menu #menu-item-64,
	.page-id-411 .mobile-menu #menu-item-63,
	.page-id-411 .mobile-menu #menu-item-95,
	.page-id-411 .mobile-menu #menu-item-17,
	.page-id-411 .mobile-menu #menu-item-18,
	.page-id-411 .mobile-menu #menu-item-19,
	.page-id-411 .mobile-menu #menu-item-64,
	.page-id-411 .mobile-menu #menu-item-63,
	.page-id-411 .mobile-menu #icon-search-btn,
	.page-id-411 .mobile-menu  .support,
	.page-id-1126195 .mobile-menu #menu-item-20,
	.page-id-1126195 .mobile-menu #menu-item-64,
	.page-id-1126195 .mobile-menu #menu-item-63,
	.page-id-1126195 .mobile-menu #menu-item-95,
	.page-id-1126195 .mobile-menu #menu-item-17,
	.page-id-1126195 .mobile-menu #menu-item-18,
	.page-id-1126195 .mobile-menu #menu-item-19,
	.page-id-1126195 .mobile-menu #menu-item-64,
	.page-id-1126195 .mobile-menu #menu-item-63,
	.page-id-1126195 .mobile-menu #icon-search-btn,
	.page-id-1126195 .mobile-menu  .support,
	.page-id-245 .mobile-menu #menu-item-20,
	.page-id-245 .mobile-menu #menu-item-64,
	.page-id-245 .mobile-menu #menu-item-63,
	.page-id-245 .mobile-menu #menu-item-95,
	.page-id-245 .mobile-menu #menu-item-17,
	.page-id-245 .mobile-menu #menu-item-18,
	.page-id-245 .mobile-menu #menu-item-19,
	.page-id-245 .mobile-menu #menu-item-64,
	.page-id-245 .mobile-menu #menu-item-63,
	.page-id-245 .mobile-menu #icon-search-btn,
	.page-id-245 .mobile-menu  .support,
	.woocomerce-page .mobile-menu .support,
	.woocomerce-page .mobile-menu #menu-item-20,
	.woocomerce-page .mobile-menu #menu-item-64,
	.woocomerce-page .mobile-menu #menu-item-63,
	.woocomerce-page .mobile-menu #menu-item-95,
	.woocomerce-page .mobile-menu #menu-item-17,
	.woocomerce-page .mobile-menu #menu-item-18,
	.woocomerce-page .mobile-menu #menu-item-19,
	.woocomerce-page .mobile-menu #menu-item-64,
	.woocomerce-page .mobile-menu #menu-item-63,
	.woocomerce-page .mobile-menu #icon-search-btn{
		display: none;
	}

	.page-id-1126195 .mobile-menu #menu-item-323,
	.page-id-1126195 .mobile-menu #menu-item-324,
	.page-id-1126195 .mobile-menu #menu-item-325,
	.page-id-1126195 .mobile-menu #menu-item-323,
	.page-id-1126195 .mobile-menu #menu-item-324,
	.page-id-1126195 .mobile-menu #menu-item-325,

	.page-id-411 .mobile-menu #menu-item-323,
	.page-id-411 .mobile-menu #menu-item-324,
	.page-id-411 .mobile-menu #menu-item-325,
	.page-id-411 .mobile-menu #menu-item-323,
	.page-id-411 .mobile-menu #menu-item-324,
	.page-id-411 .mobile-menu #menu-item-325,

	.page-id-245 .mobile-menu #menu-item-323,
	.page-id-245 .mobile-menu #menu-item-324,
	.page-id-245 .mobile-menu #menu-item-325,
	.page-id-245 .mobile-menu #menu-item-323,
	.page-id-245 .mobile-menu #menu-item-324,
	.page-id-245 .mobile-menu #menu-item-325,
	.woocommerce-page .mobile-menu #menu-item-323,
	.woocommerce-page .mobile-menu #menu-item-324,
	.woocommerce-page .mobile-menu #menu-item-325,
	.woocommerce-page .mobile-menu #menu-item-323,
	.woocommerce-page .mobile-menu #menu-item-324,
	.woocommerce-page .mobile-menu #menu-item-325{
		display: block !important;
	}


div.quantity input[type="number"]:focus{
	border-color: #D9251A !important
}

.single-product #page-title-wrap{
	display: none;
}

.woocommerce-tabs .tabs a:hover, .woocommerce-tabs .tabs li.active a,
.lol-button, button, input[type=button], input[type=reset], input[type=submit]{
	background-color: #D9251A !important
}
.products-filter,
.summary h1.product_title,
.woocommerce-tabs .tabs {
    border-bottom: 2px solid #D9251A !important; 
}

select,
.product-item .button, 
.woocommerce-tabs .tabs a{
	border: 2px solid #D9251A !important;	
}

select{
	background-image: url(http://www.manprec.com/wp-content/uploads/2017/05/arrow-mpc.jpg) !important;
}

body #page-title-wrap{
	background-color:#009 !important;
}

.term-22 #page-title-wrap{
	    background-image: url(http://www.manprec.com/wp-content/uploads/2017/03/brewer.jpg);
	    background-size: cover;
    	background-position: center;
}

.term-23 #page-title-wrap{
	    background-image: url(http://www.manprec.com/wp-content/uploads/2017/04/header-banner-dameca.jpg);
	    background-size: cover;
    	background-position: center;
}

.term-27 #page-title-wrap{
	    background-image: url(http://www.manprec.com/wp-content/uploads/2017/03/givas-1.jpg);
	    background-size: cover;
    	background-position: center;
}

.term-24 #page-title-wrap{
	    background-image: url(http://www.manprec.com/wp-content/uploads/2017/03/medtronic-1.jpg);
	    background-size: cover;
    	background-position: center;
}

.term-25 #page-title-wrap{
	    background-image: url(http://mpc.freelandrive.com/wp-content/uploads/2017/03/merivaara.jpg);
	    background-size: cover;
    	background-position: center;
}

.term-26 #page-title-wrap{
	     background-image: url(http://www.manprec.com/wp-content/uploads/2017/03/opt-1.jpg);
	     background-size: cover;
    	background-position: center;
}

.term-28 #page-title-wrap{
	     background-image: url(http://www.manprec.com/wp-content/uploads/2017/03/philips.jpg);
	     background-size: cover;
    	background-position: center;
}

.term-29 #page-title-wrap{
	     background-image: url(http://www.manprec.com/wp-content/uploads/2017/03/manprec-contacto-blanco.jpg);
	     background-size: cover;
    	background-position: center;
}

.term-30 #page-title-wrap{
	     background-image: url(http://www.manprec.com/wp-content/uploads/2017/05/philips-head.jpg);
	     background-size: cover;
    	background-position: center;
}



.tax-product_cat.woocommerce #page-title-wrap{
	height: 300px !important;
}	

#icon-cart {
	margin-top: -25px !important;
}

#icon-cart .cart-icon {
    fill: #D9251A !important;
}
#icon-cart .cart-count{
    background-color: #D9251A !important;
}
#sidebar-cart .cart-count .count {
    border: 2px solid #D9251A !important;
}


.product-category h3 span:hover { 
    background-color: #D9251A !important;
}
.product-category h3 span{
	border-top: 2px solid #D9251A !important;
    border-bottom: 2px solid #D9251A !important;
}


@media only screen and (max-width: 700px) {
	
	.tparrows.hesperiden{
		display: none;
	}

	.tp-caption.rev-btn {
		padding: 5px 13px !important;
    	font-size: 10px !important;
    	width: 90px;
	}

	.page-id-1126195 h3{
		font-size: 1.5em !important
	}

	.lol-item-heading h2{
		font-size: 28px !important;
	}

	.lol-item-heading p{
		font-size: 18px !important;
	}

	.page-id-113 #heads,
	.page-id-131 #heads,
	.page-id-133 #heads,
	.page-id-137 #heads,
	.page-id-143 #heads,
	.page-id-165 #heads,
	.page-id-178 #heads,
	.page-id-192 #heads,
	.page-id-167 #heads{
		padding: 40px !important;
	}

	.page-id-93 #heads,
	.page-id-8 #heads{
		padding: 60px !important; 
	}

	.page-id-12 #heads {
    	padding: 42px !important;
	}

	#slide-1-layer-3 a.buttonera{
		padding: 8px 20px!important;
		font-size: 8px !important;
	}

	#slide-1-layer-3{
		margin-top: 15px !important;
	}

	.support{
		display: none !important;
	}

	
	#icon-cart,
	#menu-item-462,
	.page-id-411 #menu-item-462,
	.page-id-411 #icon-cart,
	.page-id-1126195 #menu-item-462,
	.page-id-1126195 #icon-cart,
	.page-id-245 #menu-item-462,
	.page-id-245 #icon-cart{
		display: none !important;
	}

	
	



}

@media only screen and (max-width: 960px) {


	div#heads p{
		max-width: 100% !important;
	}

	#mobile-menu .m-col-6{
		padding-left: 0px !important
	}
}


#wpForm_3865628 .field-input{
	background-attachment: none !important;
}


.woocommerce .cart-collaterals{
	 margin-bottom: 60px;
}
 .woocommerce-cart .update-cart{
	color: #f1f1f1 !important;
}

.woocommerce-checkout .woocommerce-info-coupon, .woocommerce-checkout .woocommerce-info-login{
	font-size: 16px !important
}




/* BLOG */
body.page-id-2  #page-title-wrap{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 55% !important;
}

.product-categories li.cat-item.cat-item-44{
	display: none;
}


.term-31 #page-title-wrap {
    background-image: url(https://www.manprec.com/wp-content/uploads/2017/06/medtronic-banner.jpg);
    background-size: cover;
    background-position: center;
}


.iva {
    font-style: italic;
    font-weight: 800;
    color: #000;
}


.lol-item-column{
	position: relative;
}

.ver-tienda{  
    line-height: 20px !important;
    /* margin-bottom: 30px; */
    background: #D9251A;
    color: #fff !important;
    padding: 5px 10px !important;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    font-size: 0.9em !important;
    display: inline-block;
    text-align: center;
    margin: 5px auto;
    right: 0;
}

.ver-tienda:hover{
	text-decoration: underline;
	color: #f2f2f2 !important;
}



.term-37  #page-title-wrap,
.term-45  #page-title-wrap,
.term-38  #page-title-wrap,
.term-40  #page-title-wrap,
.term-39  #page-title-wrap,
.term-36  #page-title-wrap,
.term-35  #page-title-wrap,
.term-32  #page-title-wrap,
.term-33  #page-title-wrap,
.term-34  #page-title-wrap{
	background-image: url(https://www.manprec.com/wp-content/uploads/2017/07/Banner-Tienda.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.term-44 #page-title-wrap{
	background-image: url(https://www.manprec.com/wp-content/uploads/2017/07/brewer-head.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}



/* NUEVO */

.coming-soon{
    text-align: center;
    padding: 30px 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}


.coming-soon h1{
    font-size: 36px;
    color: #D9251A;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

.coming-soon h4{
    font-size: 24px;
    margin-top: 60px
}

.coming-soon .boton-tienda{
	line-height: 20px !important;
    /* margin-top: 30px; */
    background: #D9251A;
    color: #fff !important;
    padding: 10px 20px !important;
    border-radius: 10px;
    position: relative;
    top: 20px;
    font-size: 1em !important;
}

.coming-soon .boton-tienda:hover{
	    background: #613f7b !important;
}



/* NUEVO */
	.woocommerce-page .mobile-menu #menu-item-20,
	.woocommerce-page .mobile-menu #menu-item-64,
	.woocommerce-page .mobile-menu #menu-item-63,
	.woocommerce-page .mobile-menu #menu-item-95,
	.woocommerce-page .mobile-menu #menu-item-17,
	.woocommerce-page .mobile-menu #menu-item-18,
	.woocommerce-page .mobile-menu #menu-item-19,
	.woocommerce-page .mobile-menu #menu-item-64,
	.woocommerce-page .mobile-menu #menu-item-63,
	.woocommerce-page .mobile-menu #menu-item-324 {
		display: none !important;
	}

.page-id-245 .mobile-menu #menu-item-324,
.mobile-menu .menu-search-form,
.mobile-menu #menu-item-324{
	display: none !important;
}



/* SEARCHFORM TOP */
	#searchform{
		display: none;
	}
    
	.woocommerce-page #searchform,
	.page-id-245 #searchform{
		display: none;
	}




.mobile-menu .pull-right.support {
	float: none;
}
.mobile-menu .pull-right.support h4{
    margin-top: 15px;
    color: #fff;
}

#mega-menu-primary #s{
	height: 60%;
}

.lol-sticky-header-yes #wrap{
	padding-top: 0px !important;
}

#searchform{
	text-align: center;
}

#searchform #s{
	width: 65%;
    margin-left: 10px;
}