.star-rating {
   overflow: hidden;
   position: relative;
   height: 23px;
   line-height: 23px;
   font-size: 18px;
   width: 90px;
   font-family: Simple-Line-Icons
}

.star-rating:before {
   margin: 0;
   padding: 0;
   content: "\e09b\e09b\e09b\e09b\e09b";
   color: #bfbfbf
}

.star-rating:before,
.star-rating span {
   width: 90px;
   top: 0;
   left: 0;
   position: absolute
}

.star-rating span {
   overflow: hidden;
   padding-top: 23px
}

.star-rating span:before {
   width: 90px;
   content: "\e09b\e09b\e09b\e09b\e09b";
   color: #303030;
   top: 0;
   position: absolute;
   left: 0
}

.cross-sells .product-item,
.upsells .product-item {
   margin-bottom: 20px;
   text-align: left
}

.cross-sells .product-item .product-thumb,
.upsells .product-item .product-thumb {
   width: 75px;
   float: left
}

.cross-sells .product-item .product-meta-wrap,
.upsells .product-item .product-meta-wrap {
   margin-top: 0;
   margin-left: 95px;
   text-align: left
}

.cross-sells .product-item h3,
.upsells .product-item h3 {
   margin-bottom: 5px
}

.cross-sells .product-item .star-rating,
.upsells .product-item .star-rating {
   margin-top: 0
}

.cross-sells .product-item .price,
.upsells .product-item .price {
   margin-top: 0;
   font-size: 16px
}

.cross-sells .product-item .price del,
.upsells .product-item .price del {
   font-size: 13px;
   display: inline-block
}

.cross-sells .product-item .price ins,
.upsells .product-item .price ins,
div.quantity {
   display: inline-block
}

div.quantity input[type=button].minus,
div.quantity input[type=button].plus {
   display: none
}

div.quantity input[type=number] {
   margin-bottom: 0;
   padding: 11px 0;
   width: 50px;
   font-family: Montserrat;
   font-size: 11px;
   text-align: center;
   border-color: #303030
}

div.quantity input[type=number]:focus {
   outline: none;
   border-color: #b6a189
}

.shop_table {
   margin-bottom: 50px;
   font-family: Montserrat
}

.shop_table a:hover {
   text-decoration: none
}

.shop_table td,
.shop_table th {
   padding: 10px 20px
}

.shop_table tr {
   border-bottom: 2px solid #eee
}

.shop_table thead tr {
   font-weight: 700;
   text-transform: uppercase;
   background-color: #eeeff0;
   border-bottom: none
}

.shop_table thead tr,
.shop_table thead tr .product-price {
   font-size: 13px;
   color: #303030
}

.shop_table .product-remove a {
   width: 18px;
   display: block;
   font-size: 18px
}

.shop_table .product-thumbnail img {
   width: 75px
}

.shop_table .product-name {
   font-weight: 700;
   text-transform: uppercase
}

.shop_table dl {
   margin-left: 0
}

.shop_table ul {
   margin-left: 0;
   margin-bottom: 0;
   list-style-type: none
}

.shop_table td.product-name dl.variation {
   font-size: 12px;
   font-weight: 400;
   color: #b6a189
}

.shop_table td.product-name dl.variation dt {
   margin-right: 3px;
   display: inline-block
}

.shop_table td.product-name dl.variation dd {
   margin-bottom: 5px;
   display: inline-block
}

.shop_table td.product-name dl.variation p {
   margin-bottom: 0
}

.shop_table .product-price {
   font-size: 14px;
   color: #aaa
}

.shop_table td.product-subtotal {
   font-size: 14px
}

.shop_table .backorder_notification {
   font-weight: 400;
   color: #b6a189
}

.shop_table.cart th {
   text-align: center
}

.shop_table.cart thead th.product-quantity,
.shop_table.cart thead th.product-remove,
.shop_table.cart thead th.product-subtotal,
.shop_table.cart thead th.product-thumbnail,
.shop_table.wishlist_table thead th.product-price,
.shop_table.wishlist_table thead th.product-stock-stauts {
   display: none
}

.shop_table.cart td {
   display: block
}

.shop_table.cart tbody td,
.shop_table.wishlist_table tbody td {
   text-align: center!important
}

.shop_table.cart .product-remove a {
   width: 100%
}

.woocommerce #content table.wishlist_table.cart a.remove:hover {
   color: #303030;
   background-color: #fff
}

.shop_table .product-thumbnail img {
   margin-left: auto;
   margin-right: auto
}

.woocommerce-info {
   font-family: Montserrat;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   background-color: #fff
}

.woocommerce-info.no-products-found {
   padding: 5px 20px;
   display: inline-block;
   text-align: left;
   background-color: #eeeff0
}

.woocommerce-error,
.woocommerce-message {
   margin-bottom: 50px;
   padding: 20px 80px;
   font-family: Montserrat;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   border: 1px solid #303030;
   background-color: #fff
}

.woocommerce-error {
   border: 2px solid #e81730
}

.woocommerce-message .wc-forward {
   margin-right: 15px;
   color: #b6a189
}

.woocommerce-message .wc-forward:hover {
   color: #303030;
   text-decoration: none
}

.woocommerce-error {
   margin-left: 0;
   list-style-type: none
}

.woocommerce-error li {
   margin-bottom: 5px
}

.has-bg #page.register-page .woocommerce-error,
.has-bg #page.register-page .woocommerce-message {
   border: none
}

.select2-container {
   width: 100%
}

.yith-wcwl-share li,
.yith-wcwl-share ul {
   height: auto!important
}

#icon-cart {
   position: absolute;
   right: 15px;
   margin-top: -16px;
   top: 50%;
   color: #303030;
   display: inline-block;
   text-align: center;
   z-index: 999
}

#icon-cart:hover {
   cursor: pointer
}

#icon-cart .cart-icon {
   fill: #303030;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

#icon-cart .cart-count {
   padding: 3px 5px;
   position: absolute;
   top: 50%;
   left: 17px;
   display: inline-block;
   color: #fff;
   font-size: 11px;
   line-height: 13px;
   background-color: #303030
}

.dark #icon-cart {
   color: #f6f6f6
}

.dark #icon-cart .cart-icon {
   fill: #f6f6f6
}

.dark #icon-cart .cart-count {
   color: #303030;
   background-color: #fff
}

.no-svg #icon-cart {
   width: 28px;
   height: 38px;
   background-position: 0 0;
   background-repeat: no-repeat;
   background-image: url(../../images/cart_dark.png)
}

.no-svg .dark #icon-cart {
   background-image: url(../../images/cart_light.png)
}

.demo_store {
   margin-bottom: 0;
   padding: 5px 50px;
   font-size: 12px;
   color: #fff;
   text-align: center;
   background-color: #b6a189
}

.archive.woocommerce .page-description,
.archive.woocommerce .term-description {
   margin-top: 70px;
   margin-bottom: -20px;
   padding-bottom: 10px;
   position: relative;
   font-family: Montserrat;
   font-size: 15px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase
}

.archive.woocommerce .page-description:after,
.archive.woocommerce .term-description:after {
   content: "";
   display: inline-block;
   width: 200px;
   height: 2px;
   position: absolute;
   left: 50%;
   bottom: 0;
   margin-left: -100px;
   background: #303030
}

.products-filter {
   margin-bottom: 30px;
   text-align: center;
   border-bottom: 2px solid #303030;
   overflow: hidden
}

.products-filter .woocommerce-result-count {
   padding: 3px 10px;
   display: inline-block;
   color: #aaa;
   background-color: #f9f9f9
}

.products-filter .products-page-filter {
   margin-bottom: 20px
}

.products-filter .products-page-filter span {
   margin-right: 10px
}

.products-filter .products-page-filter a {
   margin: 0 2px;
   padding: 9px 13px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #303030;
   text-decoration: none;
   background: #d1d1d1;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

.products-filter .products-page-filter a.active,
.products-filter .products-page-filter a:hover {
   color: #fff;
   background-color: #303030
}

.products-filter .products-page-filter .woocommerce-ordering {
   margin-bottom: 0
}

.woocommerce-pagination {
   text-align: center
}

.woocommerce-pagination .current,
.woocommerce-pagination .dots,
.woocommerce-pagination a {
   margin: 0 2px;
   padding: 9px 13px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #303030;
   text-decoration: none;
   background: #d1d1d1;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

.woocommerce-pagination .current,
.woocommerce-pagination a:hover {
   color: #fff;
   background-color: #303030
}

.archive.woocommerce .products {
   margin-bottom: 70px
}

.product-item {
   margin-bottom: 50px;
   text-align: center;
   overflow: hidden
}

.product-item .product-mask {
   margin-bottom: 20px;
   position: relative;
   display: block;
   overflow: hidden
}

.product-item .product-mask:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: block;
   opacity: 0;
   z-index: 2;
   background-color: #fff;
   -webkit-transition: opacity .2s linear;
   transition: opacity .2s linear
}

.product-item .product-mask img {
   margin-right: auto;
   margin-left: auto
}

.product-item .product-wrap:hover .product-meta,
.product-item .product-wrap:hover .yith-wcwl-add-to-wishlist a {
   opacity: 1
}

.product-item .product-wrap:hover .product-mask:after {
   opacity: .9
}

.product-item .product-meta {
   position: absolute;
   width: 100%;
   left: 0;
   top: 50%;
   display: block;
   opacity: 0;
   text-align: center;
   color: #303030;
   z-index: 3;
   -webkit-transition: opacity .2s linear;
   transition: opacity .2s linear;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%)
}

.product-item .product-categories span {
   margin: 0 3px;
   font-family: Montserrat;
   font-size: 11px;
   text-transform: uppercase
}

.product-item .star-rating {
   margin-top: 10px;
   display: inline-block
}

.product-item .price {
   margin-bottom: 10px;
   font-family: Montserrat;
   font-size: 20px;
   display: block
}

.product-item .price del {
   margin-bottom: 5px;
   display: block;
   font-size: 14px
}

.product-item .price ins {
   display: block;
   text-decoration: none
}

.product-item .product-mask .price {
   margin-top: 10px;
   margin-bottom: 0;
   font-size: 24px
}

.product-item .product-mask .price del {
   font-size: 16px
}

.product-item .onsale {
   width: 70px;
   height: 70px;
   position: absolute;
   left: 20px;
   bottom: 20px;
   display: inline-block;
   color: #fff;
   font-size: 11px;
   line-height: 70px;
   text-align: center;
   text-transform: uppercase;
   z-index: 10;
   border-radius: 100%;
   background-color: #303030
}

.product-item .soldout {
   right: 20px;
   left: auto;
   color: #fff;
   background-color: #b6a189
}

.product-item h3 {
   margin-bottom: 10px;
   font-size: 13px;
   line-height: 22.652px;
   text-transform: uppercase
}

.product-item h3 a {
   text-decoration: none
}

.product-item .button {
   padding: 3px 15px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   color: #303030;
   text-transform: uppercase;
   text-decoration: none;
   border: 2px solid #303030
}

.product-item .button:hover {
   color: #fff;
   text-decoration: none;
   background-color: #303030
}

.product-item .added_to_cart {
   padding: 3px 15px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   border: 2px solid #303030;
   background: #303030
}

.product-item .added_to_cart:hover {
   color: #303030;
   text-decoration: none;
   border: 2px solid #d1d1d1;
   background: #d1d1d1
}

.product-item .yith-wcwl-add-to-wishlist a {
   width: 40px;
   height: 40px;
   position: absolute;
   display: inline-block;
   top: 0;
   right: 15px;
   z-index: 10;
   color: #fff;
   opacity: 0;
   text-align: center;
   line-height: 40px;
   background-color: #303030
}

.product-item .yith-wcwl-add-to-wishlist a:hover {
   color: #b6a189
}

.no-csstransforms .product-item .product-meta {
   top: 30%
}

.section-product-items {
   overflow: hidden
}

.section-product-items .product-item {
   margin-bottom: 10px;
   padding-left: 5px;
   padding-right: 5px;
   width: 100%;
   float: left
}

.section-product-items .product-item .product-mask {
   margin-bottom: 0
}

.section-product-items .product-item .yith-wcwl-add-to-wishlist a {
   right: 5px
}

.section-product-items.layout-full .product-item .yith-wcwl-add-to-wishlist a {
   right: 0
}

.full-section.light .product-item .button {
   border: 2px solid #f6f6f6
}

.full-section.light .product-item .button:hover {
   color: #303030;
   background-color: #f6f6f6
}

.full-section.light .product-item .added_to_cart {
   color: #303030;
   border: 2px solid #f6f6f6;
   background-color: #f6f6f6
}

.full-section.light .product-item .added_to_cart:hover {
   color: #fff;
   border: 2px solid #b6a189;
   background: #b6a189
}

.product-category {
   margin-bottom: 50px
}

.product-category .product-category-mask {
   position: relative;
   display: block;
   text-align: center
}

.product-category .product-category-mask:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: block;
   opacity: 0;
   z-index: 2;
   background-color: #fff;
   -webkit-transition: opacity .2s linear;
   transition: opacity .2s linear
}

.product-category .product-category-mask:hover h3 {
   opacity: 1
}

.product-category .product-category-mask:hover:after {
   opacity: .9
}

.product-category h3 {
   margin-bottom: 0;
   padding-bottom: 5px;
   position: absolute;
   width: 100%;
   left: 0;
   top: 50%;
   display: block;
   opacity: 0;
   text-align: center;
   z-index: 3;
   -webkit-transition: opacity .2s linear;
   transition: opacity .2s linear;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%)
}

.product-category h3 span {
   padding: 13px 30px;
   position: relative;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   text-decoration: none;
   text-transform: uppercase;
   border-top: 2px solid #303030;
   border-bottom: 2px solid #303030;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

.product-category h3 span:hover {
   color: #fff;
   background-color: #303030
}

.no-csstransforms .product-category h3 {
   top: 30%
}

.product-single-image {
   position: relative
}

.product-single-image img {
   margin-left: auto;
   margin-right: auto
}

.product-single-image .onsale {
   width: 70px;
   height: 70px;
   position: absolute;
   left: 20px;
   top: 20px;
   display: inline-block;
   color: #fff;
   font-size: 11px;
   line-height: 70px;
   text-align: center;
   text-transform: uppercase;
   z-index: 10;
   border-radius: 100%;
   background-color: #303030
}

.thumbnails-nav {
   margin: 15px 0
}

.thumbnails-nav ul {
   margin: 0;
   list-style-type: none;
   overflow: hidden
}

.thumbnails-nav ul li {
   padding: 15px 15px 0;
   width: 25%;
   float: left;
   display: inline-block
}

.thumbnails-nav ul li a {
   display: block
}

.summary {
   margin-bottom: 50px
}

.summary h1.product_title {
   text-transform: uppercase;
   border-bottom: 2px solid #303030
}

.summary .rating-price {
   /*padding:20px 0 30px;*/
   position: relative
}

.summary .woocommerce-product-rating {
   position: absolute;
   top: 20px;
   right: 0;
   display: inline-block;
   text-align: right
}

.summary .woocommerce-product-rating .star-rating {
   margin-bottom: 5px;
   float: right
}

.summary .woocommerce-product-rating .woocommerce-review-link {
   display: block;
   clear: both;
   font-size: 12px;
   text-decoration: none
}

.summary .price {
   font-family: Montserrat;
   font-size: 28px
}

.summary .price del {
   font-size: 20px
}

.summary .price ins {
   text-decoration: none
}

.summary .description {
   margin-bottom: 30px
}

.summary div.quantity {
   margin-right: 5px;
   width: 110px;
   float: left
}

.summary .variations_form.cart .reset_variations {
   margin-bottom: 20px;
   padding: 3px 10px;
   font-family: Montserrat;
   font-size: 10px;
   font-weight: 700;
   color: #fff;
   display: inline-block;
   text-transform: uppercase;
   background-color: #b6a189
}

.summary .variations_form.cart .reset_variations:hover {
   background-color: #303030;
   text-decoration: none
}

.summary .variations_form.cart .reset_variations .fa {
   margin-right: 10px
}

.summary .variations tr {
   border-bottom: none
}

.summary .single_variation_wrap .price {
   margin-bottom: 20px;
   display: inline-block;
   font-size: 24px
}

.summary .stock {
   padding: 3px 7px;
   font-size: 13px;
   display: inline-block;
   color: #b6a189;
   border: 2px solid #b6a189
}

.summary form.cart {
   overflow: hidden
}

.summary form.cart .single_add_to_cart_button {
   float: right
}

.summary .product_meta {
   font-family: Montserrat;
   font-size: 12px;
   color: #aaa
}

.summary .product_meta.has-meta {
   margin-top: 25px;
   padding: 20px;
   background-color: #f6f6f6
}

.summary .product_meta .sku,
.summary .product_meta a {
   font-weight: 700;
   color: #303030;
   text-decoration: none;
   text-transform: uppercase
}

.summary .product_meta .sku:hover,
.summary .product_meta a:hover {
   color: #b6a189
}

.summary .product_meta .posted_in,
.summary .product_meta .sku_wrapper,
.summary .product_meta .tagged_as {
   display: block
}

.summary .yith-wcwl-add-button,
.summary .yith-wcwl-wishlistaddedbrowse,
.summary .yith-wcwl-wishlistexistsbrowse {
   display: inline-block
}

.summary .yith-wcwl-add-button a,
.summary .yith-wcwl-wishlistaddedbrowse a,
.summary .yith-wcwl-wishlistexistsbrowse a {
   padding: 9px 13px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #303030;
   text-decoration: none;
   background: #d1d1d1;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

.summary .yith-wcwl-add-button a i,
.summary .yith-wcwl-wishlistaddedbrowse a i,
.summary .yith-wcwl-wishlistexistsbrowse a i {
   margin-right: 10px;
   position: relative
}

.summary .yith-wcwl-add-button a i:before,
.summary .yith-wcwl-wishlistaddedbrowse a i:before,
.summary .yith-wcwl-wishlistexistsbrowse a i:before {
   font-family: FontAwesome;
   content: "\f08a";
   font-style: normal
}

.summary .yith-wcwl-add-button a:hover,
.summary .yith-wcwl-wishlistaddedbrowse a:hover,
.summary .yith-wcwl-wishlistexistsbrowse a:hover {
   color: #fff;
   background-color: #b6a189
}

.summary .yith-wcwl-add-to-wishlist {
   margin-top: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
   border-top: 2px solid #303030
}

.summary .yith-wcwl-add-to-wishlist .feedback {
   margin-bottom: 15px;
   display: block;
   font-family: Montserrat;
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;
   color: #bfbfbf
}

.product-type-grouped .summary form.cart a {
   text-decoration: none
}

.product-type-grouped .summary form.cart table tr {
   border-bottom: 2px solid #eee
}

.product-type-grouped .summary form.cart .price {
   font-size: 24px
}

.product-type-grouped .summary form.cart .price del .amount {
   font-size: 16px
}

.product-type-grouped .summary form.cart .price .stock,
.product-type-grouped .summary form.cart .price p {
   margin-bottom: 0;
   margin-left: 10px
}

.product-type-grouped .summary form.cart table .button {
   padding: 9px 13px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #fff;
   text-decoration: none;
   background: #303030;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

.product-type-grouped .summary form.cart table .button:hover {
   color: #303030;
   background: #d1d1d1
}

.product-type-external p.cart {
   text-align: right
}

.product-type-external .single_add_to_cart_button {
   padding: 13px 30px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #fff;
   text-decoration: none;
   border: none;
   background: #303030;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

.product-type-external .single_add_to_cart_button:hover {
   color: #303030;
   text-decoration: none;
   background-color: #d1d1d1
}

.woocommerce-tabs {
   margin-bottom: 50px
}

.woocommerce-tabs .tabs {
   margin: 0 0 30px;
   padding-bottom: 10px;
   list-style: none;
   border-bottom: 2px solid #303030
}

.woocommerce-tabs .tabs a {
   margin: 0 0 3px;
   padding: 3px 15px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   color: #303030;
   text-transform: uppercase;
   text-decoration: none;
   border: 2px solid #303030;
   display: block
}

.woocommerce-tabs .tabs a:hover,
.woocommerce-tabs .tabs li.active a {
   color: #f6f6f6;
   background-color: #303030
}

.woocommerce-tabs .shop_attributes th {
   width: 150px
}

.woocommerce-tabs .shop_attributes tr {
   border-bottom: 2px solid #eee
}

.woocommerce-tabs #comments h2 {
   font-size: 14px;
   text-transform: uppercase;
   color: #bfbfbf
}

.woocommerce-tabs #comments .comment_container {
   margin-bottom: 30px;
   padding-bottom: 8px;
   position: relative;
   overflow: hidden;
   border-bottom: 1px solid #eee
}

.woocommerce-tabs #comments .comment-author {
   position: absolute;
   top: 0;
   left: 0;
   width: 50px;
   height: 50px
}

.woocommerce-tabs #comments .comment-author img {
   border-radius: 100%
}

.woocommerce-tabs #comments .comment-text {
   margin-left: 80px;
   margin-bottom: 20px;
   padding: 30px;
   background-color: #f6f6f6
}

.woocommerce-tabs #comments p.meta {
   margin-top: 5px;
   margin-bottom: 15px;
   font-family: Montserrat;
   font-size: 12px;
   text-transform: uppercase
}

.woocommerce-tabs #comments .description {
   font-size: 13px;
   line-height: 20px
}

.woocommerce-tabs #comments .description p:last-child {
   margin-bottom: 0
}

.woocommerce-tabs #comments .woocommerce-noreviews {
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase
}

.woocommerce-tabs #respond {
   margin-top: 50px
}

.woocommerce-tabs #respond h3 {
   font-size: 14px;
   line-height: 32.36px;
   text-transform: uppercase;
   color: #bfbfbf
}

.woocommerce-tabs #respond .must-log-in {
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase
}

.woocommerce-tabs #respond .must-log-in a {
   text-decoration: none
}

.woocommerce-tabs #respond p.stars span a {
   margin-right: 10px;
   position: relative;
   display: inline-block;
   width: 28px;
   font-size: 18px;
   color: #bfbfbf;
   text-indent: -99999px;
   border-right: 1px solid #bfbfbf
}

.woocommerce-tabs #respond p.stars span a.active,
.woocommerce-tabs #respond p.stars span a:hover {
   color: #303030;
   text-decoration: none
}

.woocommerce-tabs #respond p.stars span a:last-child {
   border-right: none
}

.woocommerce-tabs #respond p.stars span a.star-1:after,
.woocommerce-tabs #respond p.stars span a.star-2:after,
.woocommerce-tabs #respond p.stars span a.star-3:after,
.woocommerce-tabs #respond p.stars span a.star-4:after,
.woocommerce-tabs #respond p.stars span a.star-5:after {
   font-family: Simple-Line-Icons;
   position: absolute;
   top: 0;
   left: 0;
   text-indent: 0;
   content: "\e09b"
}

.woocommerce-tabs #respond p.stars span a.star-2 {
   width: 46px
}

.woocommerce-tabs #respond p.stars span a.star-3 {
   width: 64px
}

.woocommerce-tabs #respond p.stars span a.star-4 {
   width: 82px
}

.woocommerce-tabs #respond p.stars span a.star-5 {
   width: 100px
}

.woocommerce-tabs #respond p.stars span a.star-2:after {
   content: "\e09b\e09b"
}

.woocommerce-tabs #respond p.stars span a.star-3:after {
   content: "\e09b\e09b\e09b"
}

.woocommerce-tabs #respond p.stars span a.star-4:after {
   content: "\e09b\e09b\e09b\e09b"
}

.woocommerce-tabs #respond p.stars span a.star-5:after {
   content: "\e09b\e09b\e09b\e09b\e09b"
}

.woocommerce-tabs #respond input[type=submit] {
   padding: 16px 30px;
   width: 100%;
   display: block
}

.woocommerce-tabs .comment-tabs {
   margin: 0 0 40px;
   padding-bottom: 10px;
   font-family: Montserrat;
   font-size: 12px;
   text-transform: uppercase;
   list-style: none
}

.woocommerce-tabs .comment-tabs li {
   display: block
}

.woocommerce-tabs .comment-tabs li a {
   padding: 10px 0;
   position: relative;
   display: block;
   font-weight: 600;
   color: #bfbfbf;
   border-bottom: 2px solid #eee
}

.woocommerce-tabs .comment-tabs li.active a,
.woocommerce-tabs .comment-tabs li a:hover {
   color: #303030;
   text-decoration: none;
   border-bottom: 2px solid #303030
}

.woocommerce-tabs .view-all-ratings {
   margin-top: -30px;
   margin-bottom: 40px;
   display: block;
   font-family: Montserrat;
   font-size: 11px;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none
}

.woocommerce-tabs .view-all-ratings.last {
   margin-top: 0;
   margin-bottom: 0
}

#histogram-table {
   margin-bottom: 50px;
   font-family: Montserrat;
   font-size: 12px
}

#histogram-table .histogram-row {
   margin-bottom: 5px
}

#histogram-table .histogram-row-label {
   width: 50px;
   display: inline-block;
   font-weight: 700;
   color: #aaa
}

#histogram-table .histogram-row-label a {
   color: #303030;
   text-decoration: none
}

#histogram-table .histogram-row-label a:hover {
   color: #b6a189
}

#histogram-table .histogram-row-meter {
   width: 200px;
   height: 25px;
   display: inline-block;
   background-color: #eeeff0
}

#histogram-table .histogram-row-bar {
   height: 25px;
   display: inline-block;
   background-color: #303030
}

#histogram-table .histogram-row-number {
   margin-left: 10px;
   display: inline-block;
   font-weight: 700
}

.review-helpful-text {
   margin-bottom: 5px;
   font-size: 12px
}

.review-helpful-text span {
   font-family: Montserrat;
   font-weight: 700
}

.lol-review-rating {
   margin-bottom: 20px;
   text-align: right;
   font-family: Montserrat;
   font-size: 12px;
   line-height: 16px;
   color: #aaa;
   text-transform: uppercase
}

.lol-review-rating .lol-review-rating-thumbs {
   margin-left: 10px;
   display: inline-block;
   font-size: 14px
}

.lol-review-rating .lol-review-rate {
   margin: 0 3px;
   font-size: 17px;
   color: #aaa;
   text-decoration: none
}

.lol-review-rating .lol-review-rate.rated,
.lol-review-rating .lol-review-rate:hover {
   color: #000
}

em.verified {
   padding: 5px 10px;
   font-size: 10px;
   font-style: normal;
   color: #fff;
   background-color: #303030
}

#comments-loaded-overlay {
   opacity: .9;
   background-color: #111;
   z-index: 9999999999999
}

#comments-loaded-overlay,
#comments-loaded-wrap {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0
}

#comments-loaded-wrap {
   padding: 60px 40px;
   overflow-y: auto;
   background: #fff;
   z-index: 99999999999999
}

#comments-loaded-wrap #comments-preloader {
   position: absolute;
   margin-top: -12px;
   margin-left: -12px;
   width: 24px;
   height: 24px;
   top: 50%;
   left: 50%;
   z-index: 9999;
   background: url(../../images/loader.gif) no-repeat 50%
}

#comments-loaded-wrap #comments-close-btn {
   font-size: 30px;
   position: absolute;
   top: 10px;
   right: 10px;
   color: #303030;
   line-height: 30px
}

#comments-loaded-wrap #comments-close-btn:hover {
   color: #b6a189;
   text-decoration: none
}

#comments-loaded-wrap .commentlist {
   margin-left: 0;
   list-style: none
}

#comments-loaded-wrap .comment_container {
   margin-bottom: 30px;
   padding-bottom: 8px;
   position: relative;
   overflow: hidden;
   border-bottom: 1px solid #eee
}

#comments-loaded-wrap .comment-author {
   position: absolute;
   top: 0;
   left: 0;
   width: 50px;
   height: 50px
}

#comments-loaded-wrap .comment-author img {
   border-radius: 100%
}

#comments-loaded-wrap .comment-text {
   margin-left: 80px;
   margin-bottom: 20px;
   padding: 30px;
   background-color: #f6f6f6
}

#comments-loaded-wrap p.meta {
   margin-top: 5px;
   margin-bottom: 15px;
   font-family: Montserrat;
   font-size: 12px;
   text-transform: uppercase
}

#comments-loaded-wrap .description {
   font-size: 13px;
   line-height: 20px
}

#comments-loaded-wrap .description p:last-child {
   margin-bottom: 0
}

.single-product .upsells,
.woocommerce-cart .actions {
   margin-bottom: 50px
}

.woocommerce-cart .coupon {
   margin-bottom: 30px
}

.woocommerce-cart .coupon .input-text {
   margin-bottom: 10px
}

.woocommerce-cart .coupon label {
   display: none
}

.woocommerce-cart .update-cart {
   margin-right: 5px;
   color: #303030;
   background-color: #d1d1d1
}

.woocommerce-cart .update-cart:hover {
   color: #fff;
   background-color: #303030
}

.woocommerce-cart .cart-totals-calculator {
   padding: 40px;
   font-family: Montserrat;
   color: #f6f6f6;
   background-color: #303030
}

.woocommerce-cart .cart-totals-calculator .input-text,
.woocommerce-cart .cart-totals-calculator input[type=color],
.woocommerce-cart .cart-totals-calculator input[type=date],
.woocommerce-cart .cart-totals-calculator input[type=datetime-local],
.woocommerce-cart .cart-totals-calculator input[type=datetime],
.woocommerce-cart .cart-totals-calculator input[type=email],
.woocommerce-cart .cart-totals-calculator input[type=month],
.woocommerce-cart .cart-totals-calculator input[type=number],
.woocommerce-cart .cart-totals-calculator input[type=password],
.woocommerce-cart .cart-totals-calculator input[type=search],
.woocommerce-cart .cart-totals-calculator input[type=tel],
.woocommerce-cart .cart-totals-calculator input[type=text],
.woocommerce-cart .cart-totals-calculator input[type=time],
.woocommerce-cart .cart-totals-calculator input[type=url],
.woocommerce-cart .cart-totals-calculator input[type=week],
.woocommerce-cart .cart-totals-calculator textarea {
   font-family: Lato;
   background-color: transparent;
   color: #f6f6f6
}

.woocommerce-cart .cart-totals-calculator .input-text:focus,
.woocommerce-cart .cart-totals-calculator input[type=color]:focus,
.woocommerce-cart .cart-totals-calculator input[type=date]:focus,
.woocommerce-cart .cart-totals-calculator input[type=datetime-local]:focus,
.woocommerce-cart .cart-totals-calculator input[type=datetime]:focus,
.woocommerce-cart .cart-totals-calculator input[type=email]:focus,
.woocommerce-cart .cart-totals-calculator input[type=month]:focus,
.woocommerce-cart .cart-totals-calculator input[type=number]:focus,
.woocommerce-cart .cart-totals-calculator input[type=password]:focus,
.woocommerce-cart .cart-totals-calculator input[type=search]:focus,
.woocommerce-cart .cart-totals-calculator input[type=tel]:focus,
.woocommerce-cart .cart-totals-calculator input[type=text]:focus,
.woocommerce-cart .cart-totals-calculator input[type=time]:focus,
.woocommerce-cart .cart-totals-calculator input[type=url]:focus,
.woocommerce-cart .cart-totals-calculator input[type=week]:focus,
.woocommerce-cart .cart-totals-calculator textarea:focus {
   border-color: #fff
}

.woocommerce-cart .cart-totals-calculator select {
   border-color: #f6f6f6;
   color: #f6f6f6;
   background-color: #303030;
   background-image: url(../../images/select_light.png)
}

.woocommerce-cart .cart-totals-calculator .divider h3 {
   margin-bottom: 40px;
   padding: 0 0 10px;
   display: block;
   position: static;
   font-size: 18px;
   color: #fff;
   text-align: left;
   background: transparent;
   border-bottom: 2px solid #fff
}

.woocommerce-cart .cart-totals-calculator .divider:after {
   display: none
}

.woocommerce-cart .cart-totals-calculator strong {
   color: #fff
}

.woocommerce-cart .cart-totals-calculator .amount {
   font-size: 14px
}

.woocommerce-cart .cart-totals-calculator tr.order-total td,
.woocommerce-cart .cart-totals-calculator tr.order-total th {
   padding: 25px 0
}

.woocommerce-cart .cart-totals-calculator tr.order-total .amount {
   font-size: 32px;
   line-height: 40px;
   font-weight: 400
}

.woocommerce-cart .cart-totals-calculator table p {
   margin-bottom: 0
}

.woocommerce-cart .cart-totals-calculator table ul#shipping_method {
   margin: 0;
   list-style: none
}

.woocommerce-cart .cart-totals-calculator table ul#shipping_method label {
   color: #f6f6f6
}

.woocommerce-cart .cart-totals-calculator table ul#shipping_method label .amount {
   font-weight: 700
}

.woocommerce-cart .cart-totals-calculator table ul#shipping_method li {
   margin-bottom: 10px
}

.woocommerce-cart .cart-totals-calculator table ul#shipping_method li:last-child {
   margin-bottom: 0
}

.woocommerce-cart .cart-totals-calculator .checkout-button {
   padding: 15px 30px;
   width: 100%;
   display: block;
   color: #303030;
   text-align: center;
   text-transform: uppercase;
   background-color: #f6f6f6;
   text-decoration: none
}

.woocommerce-cart .cart-totals-calculator .checkout-button:hover {
   color: #fff;
   background-color: #b6a189
}

.woocommerce-cart .shipping_calculator {
   margin-top: 50px
}

.woocommerce-cart .shipping_calculator .button {
   margin-bottom: 0;
   width: 100%;
   color: #fff;
   background-color: #b6a189
}

.woocommerce-cart .shipping_calculator .button:hover {
   color: #303030;
   background-color: #f6f6f6
}

.woocommerce-cart .cross-sells {
   margin-bottom: 30px
}

.woocommerce-cart table .shipping_calculator .form-row {
   margin-bottom: 5px
}

.cart-empty-wrap {
   text-align: center
}

.cart-empty-wrap .icon {
   margin-bottom: 30px;
   display: inline-block;
   font-size: 130px;
   line-height: 80px
}

.cart-empty-wrap .cart-empty {
   margin-bottom: 30px;
   font-family: Montserrat;
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase
}

.cart-empty-wrap .wc-backward {
   padding: 13px 30px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #fff;
   text-decoration: none;
   border: none;
   background: #303030;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease;
   color: #303030;
   background-color: #d1d1d1
}

.cart-empty-wrap .wc-backward:hover {
   color: #fff;
   text-decoration: none;
   background-color: #303030
}

.woocommerce-checkout .checkout-must-be-logged-in {
   font-family: Montserrat;
   font-weight: 700;
   text-transform: uppercase
}

.woocommerce-checkout .woocommerce-info-coupon,
.woocommerce-checkout .woocommerce-info-login {
   margin-bottom: 10px;
   padding: 10px 20px;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 13px;
   text-transform: uppercase;
   background-color: #eeeff0
}

.woocommerce-checkout .woocommerce-info-coupon a,
.woocommerce-checkout .woocommerce-info-login a {
   color: #b6a189
}

.woocommerce-checkout .woocommerce-info-coupon a:hover,
.woocommerce-checkout .woocommerce-info-login a:hover {
   color: #bfbfbf;
   text-decoration: none
}

.woocommerce-checkout form.login {
   margin-top: 30px;
   margin-bottom: 40px;
   padding: 0 20px;
   border-bottom: 1px solid #444
}

.woocommerce-checkout form.login p {
   font-size: 16px;
   line-height: 25.888px
}

.woocommerce-checkout form.login .button {
   margin-bottom: 22px
}

.woocommerce-checkout form.login .lost_password {
   font-family: Montserrat;
   font-size: 11px;
   font-weight: 700;
   text-align: right;
   text-transform: uppercase
}

.woocommerce-checkout form.login .lost_password a {
   color: #bfbfbf;
   text-decoration: none
}

.woocommerce-checkout form.login .lost_password a:hover {
   color: #303030
}

.woocommerce-checkout .woocommerce-info-coupon {
   margin-bottom: 40px
}

.woocommerce-checkout form.checkout_coupon {
   margin-top: 30px;
   padding: 0 20px 20px
}

.woocommerce-checkout .woocommerce-checkout-header {
   margin-bottom: 40px;
   padding-bottom: 10px;
   font-size: 15px;
   text-transform: uppercase;
   border-bottom: 2px solid #303030
}

.woocommerce-checkout .woocommerce-shipping-fields {
   margin-top: 50px
}

.woocommerce-checkout #customer_details .create-account-wrap {
   margin-bottom: 0;
   padding: 28px 0 0
}

.woocommerce-checkout #customer_details div.create-account {
   padding-top: 30px;
   font-size: 16px;
   line-height: 25.888px
}

.woocommerce-checkout #customer_details div.create-account .form-row {
   margin-bottom: 0;
   padding-bottom: 30px
}

.woocommerce-checkout #customer_details #ship-to-different-address {
   margin-bottom: 50px
}

.woocommerce-checkout #customer_details .shipping_address {
   padding-bottom: 50px
}

.woocommerce-checkout #review-col {
   margin-top: 70px;
   padding: 40px;
   color: #f6f6f6;
   background-color: #303030
}

.woocommerce-checkout #review-col h1,
.woocommerce-checkout #review-col h2,
.woocommerce-checkout #review-col h3,
.woocommerce-checkout #review-col h4,
.woocommerce-checkout #review-col h5,
.woocommerce-checkout #review-col h6 {
   color: #fff
}

.woocommerce-checkout #review-col a {
   color: #b6a189
}

.woocommerce-checkout #review-col a:hover {
   color: #fff;
   text-decoration: none
}

.woocommerce-checkout #review-col input[type=color],
.woocommerce-checkout #review-col input[type=date],
.woocommerce-checkout #review-col input[type=datetime-local],
.woocommerce-checkout #review-col input[type=datetime],
.woocommerce-checkout #review-col input[type=email],
.woocommerce-checkout #review-col input[type=month],
.woocommerce-checkout #review-col input[type=number],
.woocommerce-checkout #review-col input[type=password],
.woocommerce-checkout #review-col input[type=search],
.woocommerce-checkout #review-col input[type=tel],
.woocommerce-checkout #review-col input[type=text],
.woocommerce-checkout #review-col input[type=time],
.woocommerce-checkout #review-col input[type=url],
.woocommerce-checkout #review-col input[type=week],
.woocommerce-checkout #review-col textarea {
   font-family: Lato;
   background-color: transparent;
   color: #f6f6f6
}

.woocommerce-checkout #review-col input[type=color]:focus,
.woocommerce-checkout #review-col input[type=date]:focus,
.woocommerce-checkout #review-col input[type=datetime-local]:focus,
.woocommerce-checkout #review-col input[type=datetime]:focus,
.woocommerce-checkout #review-col input[type=email]:focus,
.woocommerce-checkout #review-col input[type=month]:focus,
.woocommerce-checkout #review-col input[type=number]:focus,
.woocommerce-checkout #review-col input[type=password]:focus,
.woocommerce-checkout #review-col input[type=search]:focus,
.woocommerce-checkout #review-col input[type=tel]:focus,
.woocommerce-checkout #review-col input[type=text]:focus,
.woocommerce-checkout #review-col input[type=time]:focus,
.woocommerce-checkout #review-col input[type=url]:focus,
.woocommerce-checkout #review-col input[type=week]:focus,
.woocommerce-checkout #review-col textarea:focus {
   border-color: #fff
}

.woocommerce-checkout #review-col select {
   border-color: #f6f6f6;
   color: #f6f6f6;
   background-color: #303030;
   background-image: url(../../images/select_light.png)
}

.woocommerce-checkout #review-col .divider h3 {
   padding-bottom: 10px;
   display: block;
   position: static;
   color: #fff;
   background: transparent;
   border-bottom: 2px solid #fff
}

.woocommerce-checkout #review-col .divider:after {
   display: none
}

.woocommerce-checkout #review-col strong {
   color: #fff
}

.woocommerce-checkout #review-col label {
   color: #f6f6f6
}

.woocommerce-checkout #review-col mark {
   color: #fff;
   font-size: 16px;
   background-color: transparent
}

.woocommerce-checkout #review-col ul {
   margin-left: 0;
   margin-bottom: 0;
   list-style: none
}

.woocommerce-checkout #review-col dl {
   margin-left: 0
}

.woocommerce-checkout #review-col ul#shipping_method label .amount {
   font-weight: 700
}

.woocommerce-checkout #review-col ul#shipping_method li {
   margin-bottom: 10px
}

.woocommerce-checkout #review-col ul#shipping_method li:last-child {
   margin-bottom: 0
}

.woocommerce-checkout #review-col #order_review_heading {
   margin-bottom: 40px;
   padding-bottom: 10px;
   text-transform: uppercase;
   border-bottom: 2px solid #fff
}

.woocommerce-checkout #review-col .shop_table thead tr {
   font-size: 16px;
   color: #b6a189;
   background-color: transparent
}

.woocommerce-checkout #review-col .shop_table thead tr th {
   padding: 10px 0 20px
}

.woocommerce-checkout #review-col .shop_table td,
.woocommerce-checkout #review-col .shop_table th {
   padding: 10px 0
}

.woocommerce-checkout #review-col .shop_table tr {
   border-width: 1px
}

.woocommerce-checkout #review-col .shop_table tbody td .amount,
.woocommerce-checkout #review-col .shop_table tr.cart-subtotal td .amount {
   font-size: 18px
}

.woocommerce-checkout #review-col .shop_table tr.order-total td,
.woocommerce-checkout #review-col .shop_table tr.order-total th {
   padding: 25px 0
}

.woocommerce-checkout #review-col .shop_table tr.order-total .amount {
   font-size: 32px;
   line-height: 40px;
   font-weight: 400
}

.woocommerce-checkout #review-col #payment {
   margin-top: 40px
}

.woocommerce-checkout #review-col #payment ul {
   margin-left: 0;
   margin-bottom: 40px;
   list-style-type: none
}

.woocommerce-checkout #review-col #payment ul li {
   padding: 20px 0;
   position: relative;
   border-bottom: 1px solid #444;
   overflow: hidden
}

.woocommerce-checkout #review-col #payment p {
   margin-left: 40px;
   font-size: 13px;
   line-height: 20px
}

.woocommerce-checkout #review-col #payment p.terms {
   margin-top: 30px;
   margin-left: 0
}

.woocommerce-checkout #review-col #payment .gateway-icon {
   float: right;
   margin-left: 20px
}

.woocommerce-checkout #review-col #payment .gateway-icon img {
   display: inline
}

.woocommerce-checkout #review-col #payment .payment_method_paypal .gateway-icon {
   padding: 10px;
   width: 50%;
   background-color: #f9f9f9
}

.woocommerce-checkout #review-col #payment .payment_method_paypal .gateway-icon a {
   font-size: 11px;
   color: #303030
}

.woocommerce-checkout #review-col #payment .payment_method_paypal .gateway-icon a:hover {
   color: #b6a189
}

.woocommerce-checkout #review-col #payment fieldset {
   padding-top: 2em;
   padding-bottom: 1em
}

.woocommerce-checkout #review-col #payment fieldset p {
   margin-left: 0
}

.woocommerce-checkout #review-col #place_order {
   margin-bottom: 0;
   width: 100%;
   color: #fff;
   background-color: #b6a189
}

.woocommerce-checkout #review-col #place_order:hover {
   color: #303030;
   background-color: #f6f6f6
}

.woocommerce-checkout .thankyou-wrap {
   text-align: center
}

.woocommerce-checkout .thankyou-wrap .icon {
   margin-bottom: 30px;
   font-size: 130px;
   line-height: 80px;
   display: inline-block
}

.woocommerce-checkout .thankyou-wrap .thankyou_text {
   margin-bottom: 50px;
   font-family: Montserrat;
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase
}

.woocommerce-checkout .thankyou-wrap .order_details_wrap .order_details {
   margin: 0 0 50px;
   list-style: none;
   color: #aaa;
   overflow: hidden
}

.woocommerce-checkout .thankyou-wrap .order_details_wrap .order_details li {
   margin-bottom: 10px;
   padding-bottom: 10px;
   font-family: Montserrat;
   font-size: 13px;
   font-weight: 700;
   color: #303030;
   display: block;
   text-transform: uppercase;
   border-bottom: 1px solid #aaa
}

.woocommerce-checkout .thankyou-wrap .order_details_wrap .order_details strong {
   display: block;
   font-weight: 400;
   color: #aaa
}

.woocommerce-checkout .thankyou-wrap .order_details_text p {
   margin-bottom: 50px;
   font-size: 16px;
   line-height: 25.888px
}

.woocommerce-checkout .thankyou-wrap .order_details_text h3 {
   padding: 5px 20px;
   font-size: 14px;
   background-color: #eeeff0;
   text-transform: uppercase
}

.woocommerce-checkout .thankyou-wrap h2 {
   margin-bottom: 30px;
   font-size: 15px;
   text-transform: uppercase;
   border-bottom: 2px solid #303030
}

.woocommerce-checkout .thankyou-wrap .bacs_details {
   margin: 0 0 50px;
   list-style: none;
   color: #aaa;
   overflow: hidden
}

.woocommerce-checkout .thankyou-wrap .bacs_details li {
   margin-bottom: 10px;
   padding-bottom: 10px;
   font-family: Montserrat;
   font-size: 13px;
   font-weight: 700;
   color: #303030;
   display: block;
   text-transform: uppercase;
   border-bottom: 1px solid #aaa
}

.woocommerce-checkout .thankyou-wrap .bacs_details strong {
   display: block;
   font-weight: 400;
   color: #aaa
}

.woocommerce-checkout .thankyou-wrap .thankyou-btns a {
   padding: 13px 30px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #fff;
   text-decoration: none;
   border: none;
   background: #303030;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

.woocommerce-checkout .thankyou-wrap .thankyou-btns a:hover {
   color: #303030;
   text-decoration: none;
   background-color: #d1d1d1
}

.has-bg #page.register-page {
   background-color: #f6f6f6;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50%
}

.has-bg #content {
   padding-top: 175px
}

#page.register-page .myaccount-login,
#page.register-page .myaccount-lost-password {
   position: relative;
   background-color: #fff
}

#page.register-page .myaccount-login .left-panel,
#page.register-page .myaccount-lost-password .left-panel {
   margin-bottom: 40px;
   padding: 50px;
   text-align: center;
   background-color: #f6f6f6
}

#page.register-page .myaccount-login .left-panel .icon,
#page.register-page .myaccount-lost-password .left-panel .icon {
   margin-bottom: 40px;
   font-size: 130px;
   display: inline-block;
   line-height: 80px
}

#page.register-page .myaccount-login .my-account-panel {
   padding: 0 30px 40px
}

#page.register-page .myaccount-login .my-account-tabs {
   margin: 0;
   list-style: none
}

#page.register-page .myaccount-login .my-account-tabs li {
   margin-bottom: 5px;
   display: block
}

#page.register-page .myaccount-login .my-account-tabs li.user-login-tab-default {
   padding-bottom: 5px;
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   border-bottom: 2px solid #303030
}

#page.register-page .myaccount-login .my-account-tabs a {
   padding: 3px 15px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   color: #303030;
   text-transform: uppercase;
   text-decoration: none;
   border: 2px solid #303030;
   display: block;
   background-color: #fff
}

#page.register-page .myaccount-login .my-account-tabs a:hover,
#page.register-page .myaccount-login .my-account-tabs li.active a {
   color: #f6f6f6;
   background-color: #303030
}

#page.register-page .myaccount-login form.login .button {
   margin-bottom: 22px
}

#page.register-page .myaccount-login form.login p.lost_password {
   margin-bottom: 0;
   font-family: Montserrat;
   font-size: 11px;
   font-weight: 700;
   text-align: right;
   text-transform: uppercase
}

#page.register-page .myaccount-login form.login p.lost_password a {
   color: #bfbfbf;
   text-decoration: none
}

#page.register-page .myaccount-login form.login p.lost_password a:hover {
   color: #303030
}

#page.register-page .myaccount-lost-password .left-panel p {
   padding-bottom: 5px;
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   border-bottom: 2px solid #303030
}

#page.register-page .lost_reset_password {
   padding: 0 30px 40px
}

#page.register-page .lost_reset_password p.lost-reset-password-message {
   padding-bottom: 5px;
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   color: #bfbfbf
}

.has-not-bg #page.register-page .myaccount-login,
.has-not-bg #page.register-page .myaccount-lost-password {
   border: 2px solid #303030
}

.has-not-bg #page.register-page .myaccount-login .left-panel,
.has-not-bg #page.register-page .myaccount-lost-password .left-panel {
   color: #fff;
   background-color: #303030
}

.has-not-bg #page.register-page .myaccount-login .my-account-tabs li.user-login-tab-default {
   border-bottom: 2px solid #fff
}

.has-not-bg #page.register-page .myaccount-login .my-account-tabs a:hover,
.has-not-bg #page.register-page .myaccount-login .my-account-tabs li.active a {
   color: #fff;
   background-color: #b6a189
}

.has-not-bg #page.register-page .myaccount-lost-password .left-panel p {
   border-bottom: 2px solid #fff
}

.woocommerce-account .myaccount_user {
   margin-bottom: 40px
}

.woocommerce-account .address .title {
   position: relative
}

.woocommerce-account .address h4 {
   padding-bottom: 5px;
   font-size: 12px;
   color: #b6a189;
   text-transform: uppercase;
   border-bottom: 1px solid #444
}

.woocommerce-account .address .edit {
   position: absolute;
   right: 0;
   top: 0;
   padding: 4px 8px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 10px;
   line-height: 15px;
   color: #303030;
   text-decoration: none;
   background: #d1d1d1;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

.woocommerce-account .address .edit:hover {
   color: #fff;
   text-decoration: none;
   background-color: #b6a189
}

.woocommerce-account .address address {
   font-style: normal;
   font-size: 13px
}

.woocommerce-account h2 {
   margin-bottom: 30px;
   font-size: 15px;
   text-transform: uppercase;
   border-bottom: 2px solid #303030
}

.woocommerce-account .digital-downloads {
   margin-left: 0;
   margin-bottom: 50px;
   list-style-type: none
}

.woocommerce-account .digital-downloads li {
   margin-bottom: 5px;
   padding: 10px;
   background-color: #f9f9f9
}

.woocommerce-account .digital-downloads a {
   color: #b6a189
}

.woocommerce-account .digital-downloads a:hover {
   color: #303030
}

.woocommerce-account .shop_table tbody td.order-number {
   font-size: 18px
}

.woocommerce-account .shop_table tbody td.order-status span {
   padding: 3px 7px;
   font-family: Lato;
   font-size: 13px;
   display: inline-block;
   color: #b6a189;
   border: 2px solid #b6a189
}

.woocommerce-account .shop_table tbody td.order-total .amount {
   font-size: 18px
}

.woocommerce-account .shop_table tbody td.order-actions a {
   padding: 5px 10px;
   font-size: 11px;
   color: #303030;
   text-transform: uppercase;
   background: #d1d1d1
}

.woocommerce-account .shop_table tbody td.order-actions a:hover {
   color: #fff;
   text-decoration: none;
   background-color: #303030
}

.woocommerce-account #add_payment_method {
   margin-top: 50px;
   text-align: center
}

.woocommerce-account .order-info mark {
   background-color: transparent;
   font-size: 22px
}

h2.order-details-title {
   margin-bottom: 30px;
   font-size: 15px;
   text-transform: uppercase;
   border-bottom: 2px solid #303030
}

.order-again {
   text-align: right
}

.order-again .button {
   padding: 13px 30px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #fff;
   text-decoration: none;
   border: none;
   background: #303030;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

.order-again .button:hover {
   color: #303030;
   text-decoration: none;
   background-color: #d1d1d1
}

.order_details td .amount {
   font-size: 18px
}

.order_details tfoot tr:last-child .amount {
   font-size: 24px
}

.order_details tfoot tr:last-child td {
   padding: 30px 20px
}

.no-orders-myaccount {
   margin-top: 100px;
   text-align: center
}

.no-orders-myaccount .icon {
   margin-bottom: 30px;
   display: inline-block;
   font-size: 130px;
   line-height: 80px
}

.no-orders-myaccount .orders-empty {
   margin-bottom: 30px;
   font-family: Montserrat;
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase
}

.no-orders-myaccount .wc-backward {
   padding: 13px 30px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #fff;
   text-decoration: none;
   border: none;
   background: #303030;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease;
   color: #303030;
   background-color: #d1d1d1
}

.no-orders-myaccount .wc-backward:hover {
   color: #fff;
   text-decoration: none;
   background-color: #303030
}

#content .woocommerce-MyAccount-navigation ul {
   list-style: none;
   margin-left: 0
}

#content .woocommerce-MyAccount-navigation ul li a {
   margin: 0 0 3px;
   padding: 9px 15px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   color: #303030;
   text-transform: uppercase;
   text-decoration: none;
   display: block;
   background-color: #f6f6f6
}

#content .woocommerce-MyAccount-navigation ul li.is-active a,
#content .woocommerce-MyAccount-navigation ul li a:hover {
   background-color: #303030;
   color: #fff
}

.woocommerce-MyAccount-content,
.woocommerce-view-order .order-info {
   font-size: 16px;
   line-height: 24px
}

.woocommerce-Address-title .edit {
   padding: 5px 10px;
   font-size: 11px;
   color: #303030;
   text-transform: uppercase;
   background: #d1d1d1;
   display: inline-block;
   margin-bottom: 20px
}

.woocommerce-Address-title .edit:hover {
   color: #fff;
   text-decoration: none;
   background-color: #303030
}

#content .no-orders-made {
   margin-top: 20px
}

.add-payment-method-button {
   text-align: center
}

.woocommerce-MyAccount-content fieldset {
   margin-bottom: 50px
}

.woocommerce-MyAccount-content fieldset legend {
   text-transform: uppercase;
   color: #aaa;
   font-size: 11px
}

.track-order-wrap {
   position: relative;
   border: 2px solid #303030;
   background-color: #fff
}

.track-order-wrap .left-panel {
   margin-bottom: 40px;
   padding: 50px;
   color: #fff;
   text-align: center;
   background-color: #303030
}

.track-order-wrap .left-panel .icon {
   margin-bottom: 40px;
   font-size: 130px;
   display: inline-block;
   line-height: 80px
}

.track-order-wrap .left-panel p {
   padding-bottom: 5px;
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   border-bottom: 2px solid #fff
}

.track_order {
   padding: 0 30px 40px
}

.track_order p.track-order-message {
   padding-bottom: 5px;
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   color: #bfbfbf
}

.widget_product_categories li {
   padding: 0;
   color: #aaa
}

.widget_product_categories a {
   /*padding:5px 0 5px 20px;*/
   position: relative;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   font-weight: 700;
   text-transform: uppercase
}

.widget_product_categories a:before {
   /*content:"\2022";*/
   display: inline-block;
   position: absolute;
   font-size: 10px;
   top: 50%;
   left: 0;
   margin-top: -10px;
   width: 20px;
   color: #aaa
}

.widget_product_categories ul li:first-child a {
   padding-top: 0
}

.widget_product_categories ul li:first-child a:before {
   margin-top: -13px
}

.widget_product_categories ul.children {
   margin-left: 20px
}

.widget_product_categories ul.children li a {
   padding-top: 5px
}

.widget_product_categories ul.children li a:before {
   margin-top: -10px
}

.widget_product_categories .count {
   margin-left: 5px;
   font-size: 12px;
   color: #aaa
}

.product_list_widget {
   font-family: Montserrat
}

.product_list_widget li {
   margin-bottom: 20px;
   padding: 0;
   overflow: hidden
}

.product_list_widget li a {
   display: block;
   font-size: 11px;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none
}

.product_list_widget li a span {
   font-size: 11px
}

.product_list_widget li span {
   font-size: 16px;
   line-height: 30px
}

.product_list_widget li del span {
   font-size: 13px
}

.product_list_widget li img {
   margin-right: 15px;
   width: 65px;
   float: left
}

.product_list_widget li .star-rating span {
   line-height: 23px;
   font-size: 18px
}

.product_list_widget li .reviewer {
   font-size: 10px;
   color: #aaa;
   text-transform: uppercase
}

.widget_product_tag_cloud a {
   margin: 0 0 3px;
   padding: 3px 15px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   color: #d1d1d1;
   text-transform: uppercase;
   text-decoration: none;
   border: 2px solid #d1d1d1
}

.widget_product_tag_cloud a:hover {
   color: #fff;
   background: #b6a189;
   border-color: #b6a189
}

.widget_layered_nav_filters li,
.widget_layered_nav li {
   font-family: Montserrat;
   color: #aaa;
   overflow: hidden
}

.widget_layered_nav_filters li.chosen a,
.widget_layered_nav li.chosen a {
   padding-left: 30px;
   padding-right: 10px;
   position: relative;
   color: #fff;
   background-color: #b6a189
}

.widget_layered_nav_filters li.chosen a:hover,
.widget_layered_nav li.chosen a:hover {
   background-color: #303030
}

.widget_layered_nav_filters li.chosen a:before,
.widget_layered_nav li.chosen a:before {
   font-family: Simple-Line-Icons;
   content: "\e082";
   display: inline-block;
   position: absolute;
   font-size: 10px;
   top: 50%;
   left: 10px;
   margin-top: -10px;
   width: 20px;
   color: #fff;
   z-index: 1
}

.widget_layered_nav_filters a,
.widget_layered_nav a {
   font-size: 11px;
   font-weight: 700;
   text-transform: uppercase;
   float: left
}

.widget_layered_nav .count,
.widget_layered_nav_filters .count {
   float: right
}

.widget_layered_nav_filters li {
   margin-right: 5px;
   margin-bottom: -5px;
   padding-bottom: 0;
   display: inline-block
}

.widget_shopping_cart_content li.empty {
   font-family: Montserrat;
   font-size: 13px;
   font-weight: 700;
   color: #bfbfbf;
   text-transform: uppercase
}

.widget_shopping_cart_content li .quantity {
   font-size: 13px;
   color: #aaa
}

.widget_shopping_cart_content li .quantity .amount {
   font-size: 16px;
   line-height: 30px;
   color: #303030
}

.widget_shopping_cart_content .total {
   margin-top: 30px;
   padding: 10px 0;
   font-family: Montserrat;
   border-top: 2px solid #303030;
   border-bottom: 2px solid #303030
}

.widget_shopping_cart_content .total .amount {
   margin-left: 15px;
   font-size: 22px
}

.widget_shopping_cart_content .total strong {
   font-weight: 400;
   color: #bfbfbf;
   text-transform: uppercase
}

.widget_shopping_cart_content dl.variation {
   font-size: 12px;
   font-weight: 400;
   color: #b6a189
}

.widget_shopping_cart_content dl.variation dt {
   margin-right: 3px;
   display: inline-block
}

.widget_shopping_cart_content dl.variation dd {
   margin-bottom: 0;
   display: inline-block
}

.widget_shopping_cart_content dl.variation p {
   margin-bottom: 0
}

.widget_shopping_cart_content .wc-forward {
   text-align: center;
   padding: 13px 30px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #fff;
   text-decoration: none;
   border: none;
   background: #303030;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease;
   display: block
}

.widget_shopping_cart_content .wc-forward:hover {
   color: #303030;
   text-decoration: none;
   background-color: #d1d1d1
}

.widget_shopping_cart_content .wc-forward.checkout {
   margin-top: 10px;
   color: #303030;
   background-color: #d1d1d1
}

.widget_shopping_cart_content .wc-forward.checkout:hover {
   color: #fff;
   background-color: #303030
}

.price_slider_wrapper:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden
}

.widget_price_filter .price_slider {
   margin-bottom: 1em
}

.widget_price_filter .price_slider_amount {
   margin-top: 30px;
   font-size: 15px;
   color: #303030
}

.widget_price_filter .price_slider_amount .button {
   float: right;
   padding: 5px 13px
}

.widget_price_filter .price_label {
   padding-right: 150px;
   font-family: Montserrat;
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase
}

.widget_price_filter .ui-slider {
   position: relative;
   text-align: left
}

.widget_price_filter .ui-slider .ui-slider-handle {
   position: absolute;
   z-index: 2;
   width: 16px;
   height: 16px;
   border-radius: 100%;
   cursor: pointer;
   background: silver;
   outline: 0;
   top: -4px;
   left: 0;
   margin-left: -1px
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
   margin-left: -1em
}

.widget_price_filter .ui-slider .ui-slider-range {
   position: absolute;
   z-index: 1;
   font-size: .7em;
   display: block;
   border: 0;
   background: #303030
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
   background: #f6f6f6
}

.widget_price_filter .ui-slider-horizontal {
   height: 8px
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
   top: 0;
   height: 100%
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
   left: -1px
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
   right: -1px
}

.full-footer .widget_product_categories li {
   padding: 0
}

.full-footer .widget_product_categories a {
   padding: 5px 0;
   position: static
}

.full-footer .widget_product_categories a:before {
   content: "none";
   display: none
}

.full-footer .widget_product_categories ul li:first-child a {
   padding-top: 0
}

.full-footer .widget_product_categories ul.children {
   margin-left: 20px
}

.full-footer .widget_product_categories ul.children li a {
   padding-top: 5px
}

.full-footer .product_list_widget li img {
   margin: 0 auto 10px;
   float: none
}

.full-footer .product_list_widget li .star-rating {
   margin-left: auto;
   margin-right: auto
}

.dark .product_list_widget li .star-rating span:before {
   color: #fff
}

.dark .widget_layered_nav_filters li.chosen a:hover,
.dark .widget_layered_nav li.chosen a:hover {
   background-color: #aaa
}

.dark .widget_shopping_cart_content li .quantity .amount {
   color: #fff
}

.dark .widget_shopping_cart_content .total {
   border-top: 2px solid #f6f6f6;
   border-bottom: 2px solid #f6f6f6
}

.dark .widget_shopping_cart_content .total .amount {
   color: #fff
}

.dark .widget_shopping_cart_content .wc-forward {
   color: #fff;
   background-color: #b6a189
}

.dark .widget_shopping_cart_content .wc-forward.checkout,
.dark .widget_shopping_cart_content .wc-forward:hover {
   color: #303030!important;
   background-color: #f6f6f6
}

.dark .widget_shopping_cart_content .wc-forward.checkout:hover {
   color: #fff!important;
   background-color: #b6a189
}

.full-footer .widget_shopping_cart_content dl.variation {
   margin-left: 0
}

.dark .widget_price_filter .price_slider_amount {
   color: #fff
}

.dark .widget_price_filter .ui-slider .ui-slider-handle {
   background: #fff
}

.dark .widget_price_filter .ui-slider .ui-slider-range {
   background: #b6a189
}

.dark .widget_price_filter .price_slider_wrapper .ui-widget-content {
   background: silver
}

.full-footer .widget_price_filter .price_slider_amount .button {
   margin-bottom: 15px;
   float: none
}

.full-footer .widget_price_filter .price_label {
   padding-right: 0
}

.shortcode-row-single .product-item {
   position: relative
}

html {
   overflow-x: hidden
}

html.off-open {
   overflow-y: hidden
}

#wrap {
   left: 0;
   -webkit-transition: left .3s ease;
   transition: left .3s ease
}

.move-left #wrap {
   box-shadow: 5px 0 5px 0 rgba(0, 0, 0, .2);
   left: -240px
}

.move-left #sidebar-cart {
   position: fixed
}

.move-left #sidebar-cart .sidebar-content {
   margin-top: 20px
}

#sidebar-cart {
   position: absolute;
   top: 0;
   right: 0;
   width: 240px;
   min-height: 100%;
   height: 100%;
   bottom: 0;
   overflow-y: hidden;
   color: #d1d1d1;
   background-color: #303030;
   right: -240px;
   -webkit-transition: right .3s ease;
   transition: right .3s ease
}

#sidebar-cart .sidebar-content {
   padding: 40px 25px
}

#sidebar-cart a {
   color: #fff
}

#sidebar-cart a:hover {
   color: #b6a189;
   text-decoration: none
}

#sidebar-cart .sidebar-links {
   margin-bottom: 20px;
   padding-bottom: 20px;
   position: relative;
   border-bottom: 1px solid #444
}

#sidebar-cart .cart-count {
   font-size: 12px;
   text-transform: uppercase;
   color: #fff
}

#sidebar-cart .cart-count,
#sidebar-cart .cart-count .count {
   font-family: Montserrat;
   font-weight: 700;
   display: inline-block
}

#sidebar-cart .cart-count .count {
   margin-left: 10px;
   width: 30px;
   height: 30px;
   font-size: 11px;
   line-height: 26px;
   text-align: center;
   text-transform: none;
   border: 2px solid #b6a189;
   border-radius: 100%
}

#sidebar-cart .login-logout {
   position: absolute;
   top: 0;
   right: 0;
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 30px
}

#sidebar-cart .login-logout .fa-user {
   margin-right: 10px
}

#sidebar-cart .username {
   font-size: 12px;
   display: block;
   color: #b6a189;
   text-align: right;
   line-height: 11px
}

#sidebar-cart .username:hover {
   color: #fff
}

#sidebar-cart h4 {
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff
}

#sidebar-cart .cart-items {
   border-bottom: 1px solid #444
}

#sidebar-cart .cart-product {
   margin-bottom: 30px;
   min-height: 97px
}

#sidebar-cart .cart-product .cart-product-thumb {
   position: absolute
}

#sidebar-cart .cart-product .cart-product-thumb img {
   width: 75px
}

#sidebar-cart .cart-product .cart-product-meta {
   margin-left: 100px;
   font-family: Montserrat;
   text-transform: uppercase
}

#sidebar-cart .cart-product .cart-product-title {
   margin-bottom: 10px;
   display: block;
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff
}

#sidebar-cart .cart-product .cart-product-title:hover {
   color: #b6a189
}

#sidebar-cart .cart-product .cart-product-price,
#sidebar-cart .cart-product .cart-product-quantity {
   display: block;
   font-size: 11px
}

#sidebar-cart .cart-product .cart-product-price .label,
#sidebar-cart .cart-product .cart-product-quantity .label {
   margin-right: 5px
}

#sidebar-cart .cart-product .cart-product-remove {
   margin-top: 10px;
   position: relative;
   display: block;
   font-size: 10px;
   font-weight: 700;
   color: #777
}

#sidebar-cart .cart-product .cart-product-remove .simple-lineicon {
   position: absolute;
   top: 4px;
   right: 0;
   font-size: 16px
}

#sidebar-cart .cart-product .cart-product-remove:hover {
   color: #fff
}

#sidebar-cart .cart-subtotal {
   padding: 30px 0;
   position: relative;
   font-family: Montserrat;
   font-size: 13px;
   text-transform: uppercase
}

#sidebar-cart .cart-subtotal .cart-subtotal-price {
   position: absolute;
   right: 0;
   font-size: 22px;
   color: #fff
}

#sidebar-cart .view-checkout {
   width: 100%;
   text-align: center;
   padding: 13px 30px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #fff;
   text-decoration: none;
   border: none;
   background: #b6a189;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

#sidebar-cart .view-checkout:hover {
   color: #303030;
   background-color: #fff
}

#sidebar-cart .no-products {
   font-family: Montserrat;
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;
   color: #bfbfbf
}

.move-left #sidebar-cart {
   overflow-y: auto;
   right: 0
}

#yith-wcwl-popup-message {
   background: #fff;
   line-height: 50px;
   padding: 15px;
   position: fixed;
   text-align: center;
   top: 100px;
   right: 0;
   left: auto;
   color: #f6f6f6;
   background-color: #292c2e;
   z-index: 10000;
   border: none;
   border-radius: 0
}

.admin-bar #yith-wcwl-popup-message {
   top: 132px
}

.yith-wcwl-add-to-wishlist .ajax-loading {
   box-shadow: none!important;
   -moz-box-shadow: none!important;
   -webkit-box-shadow: none!important;
   display: inline!important;
   margin-left: 5px;
   vertical-align: middle;
   visibility: hidden;
   width: 16px!important;
   height: 16px!important
}

html .wishlist_table .add_to_cart,
html .yith-wcwl-add-button>a.button.alt {
   border-radius: 0
}

html .yith-wcwl-add-to-wishlist {
   margin-top: 0
}

html .wishlist_table .add_to_cart.button i,
html .yith-wcwl-add-button>a i {
   margin-right: 0
}

.woocommerce-wishlist .wishlist-title {
   display: block
}

.woocommerce-wishlist .wishlist-title h2 {
   margin-bottom: 50px;
   padding-bottom: 10px;
   display: block;
   position: relative;
   font-family: Montserrat;
   font-size: 15px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase
}

.woocommerce-wishlist .wishlist-title h2:after {
   content: "";
   display: inline-block;
   width: 200px;
   height: 2px;
   position: absolute;
   left: 50%;
   bottom: 0;
   margin-left: -100px;
   background: #303030
}

.woocommerce-wishlist .wishlist_table tr td,
.woocommerce-wishlist .wishlist_table tr td.product-name,
.woocommerce-wishlist .wishlist_table tr td.product-thumbnail {
   text-align: left
}

.woocommerce-wishlist .wishlist_table tr td.product-stock-status span.wishlist-in-stock,
.woocommerce-wishlist .wishlist_table tr td.product-stock-status span.wishlist-out-of-stock {
   padding: 3px 7px;
   font-size: 13px;
   display: inline-block;
   color: #b6a189;
   border: 2px solid #b6a189
}

.woocommerce-wishlist .wishlist_table tr td .add_to_cart {
   border-radius: 0;
   padding: 13px 30px;
   display: inline-block;
   font-family: Montserrat;
   font-size: 11px;
   line-height: 15px;
   color: #fff;
   text-decoration: none;
   border: none;
   background: #303030;
   text-transform: uppercase;
   -webkit-transition: all .2s ease;
   transition: all .2s ease
}

.woocommerce-wishlist .wishlist_table tr td .add_to_cart:hover {
   color: #303030;
   text-decoration: none;
   cursor: pointer;
   background-color: #d1d1d1
}

.woocommerce-wishlist .wishlist_table tr td.wishlist-empty {
   padding: 60px 0;
   font-family: Montserrat;
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center!important
}

.woocommerce-wishlist .wishlist_table tr td.wishlist-empty .icon {
   margin-bottom: 30px;
   display: block;
   font-size: 130px;
   line-height: 80px
}

.woocommerce-wishlist .summary .single_add_to_wishlist.button,
.woocommerce-wishlist div.product .woocommerce-price-and-add .single_add_to_wishlist.button {
   margin: 0
}

.woocommerce-wishlist .yith-wcwl-share {
   text-align: center
}

.woocommerce-wishlist .yith-wcwl-share ul {
   margin: 0;
   list-style: none
}

.woocommerce-wishlist .yith-wcwl-share ul li {
   margin-right: 4px;
   display: inline-block
}

.woocommerce-wishlist .yith-wcwl-share ul li a {
   width: 40px;
   height: 40px;
   position: relative;
   display: inline-block;
   font-size: 14px;
   color: #fff;
   line-height: 40px;
   text-align: center
}

.woocommerce-wishlist .yith-wcwl-share ul li a:hover {
   text-decoration: none
}

.woocommerce-wishlist .yith-wcwl-share ul li a.facebook {
   background-color: #3b5998;
   background-image: none
}

.woocommerce-wishlist .yith-wcwl-share ul li a.facebook:before {
   position: absolute;
   top: 0;
   left: 0;
   font-family: FontAwesome;
   content: "\f09a";
   display: inline-block;
   width: 40px;
   height: 40px;
   font-size: 14px
}

.woocommerce-wishlist .yith-wcwl-share ul li a.twitter {
   background-color: #00aced;
   background-image: none
}

.woocommerce-wishlist .yith-wcwl-share ul li a.twitter:before {
   position: absolute;
   top: 0;
   left: 0;
   font-family: FontAwesome;
   content: "\f099";
   display: inline-block;
   width: 40px;
   height: 40px;
   font-size: 14px
}

.woocommerce-wishlist .yith-wcwl-share ul li a.googleplus {
   background-color: #d14836;
   background-image: none
}

.woocommerce-wishlist .yith-wcwl-share ul li a.googleplus:before {
   position: absolute;
   top: 0;
   left: 0;
   font-family: FontAwesome;
   content: "\f0d5";
   display: inline-block;
   width: 40px;
   height: 40px;
   font-size: 14px
}

.woocommerce-wishlist .yith-wcwl-share ul li a.pinterest {
   background-color: #cb2027;
   background-image: none
}

.woocommerce-wishlist .yith-wcwl-share ul li a.pinterest:before {
   position: absolute;
   top: 0;
   left: 0;
   font-family: FontAwesome;
   content: "\f0d2";
   display: inline-block;
   width: 40px;
   height: 40px;
   font-size: 14px
}

.woocommerce-wishlist .yith-wcwl-share ul li a.email {
   background-color: #d1d1d1;
   background-image: none
}

.woocommerce-wishlist .yith-wcwl-share ul li a.email:before {
   position: absolute;
   top: 0;
   left: 0;
   font-family: FontAwesome;
   content: "\f003";
   display: inline-block;
   width: 40px;
   height: 40px;
   font-size: 14px
}

@media (min-width:420px) {
   .move-left #wrap {
      left: -320px
   }
   #sidebar-cart {
      width: 320px;
      right: -320px
   }
   #sidebar-cart .sidebar-content {
      padding: 40px 40px 60px
   }
}

@media (min-width:600px) {
   #comments-loaded-wrap {
      top: 10%;
      left: 15%;
      right: 15%;
      bottom: 10%
   }
   .shop_table.cart th {
      text-align: left
   }
   .shop_table.cart td,
   .shop_table.cart thead th.product-quantity,
   .shop_table.cart thead th.product-remove,
   .shop_table.cart thead th.product-subtotal,
   .shop_table.cart thead th.product-thumbnail,
   .shop_table.wishlist_table thead th.product-price,
   .shop_table.wishlist_table thead th.product-stock-stauts {
      display: table-cell
   }
   .shop_table.cart tbody td {
      text-align: left!important
   }
   .shop_table.cart .product-remove a {
      width: 18px
   }
   .shop_table .product-thumbnail img {
      margin-left: 0
   }
}

@media (min-width:768px) {
   .section-product-items .product-item {
      width: 50%
   }
   #page.register-page .myaccount-login,
   #page.register-page .myaccount-lost-password {
      margin: 50px 0;
      padding: 40px 30px 40px 0
   }
   #page.register-page .myaccount-login .left-panel,
   #page.register-page .myaccount-lost-password .left-panel {
      position: absolute;
      top: 0;
      right: left;
      width: 350px;
      height: 100%
   }
   #page.register-page .lost_reset_password,
   #page.register-page .myaccount-login .my-account-panel {
      padding: 0 0 0 380px
   }
   .has-not-bg #page.register-page .myaccount-login,
   .has-not-bg #page.register-page .myaccount-lost-password {
      margin: 0
   }
   .track-order-wrap {
      padding: 40px 30px 40px 0
   }
   .track-order-wrap .left-panel {
      position: absolute;
      top: 0;
      right: left;
      width: 350px;
      height: 100%
   }
   .track-order-wrap .track_order {
      padding: 0 0 0 380px
   }
}

@media (min-width:992px) {
   .move-left.lol-sticky-header-yes #branding {
      left: -320px
   }
   .products-filter {
      padding-bottom: 20px;
      position: relative;
      text-align: left;
      min-height: 59px
   }
   .products-filter .woocommerce-result-count {
      margin-right: 10px;
      margin-bottom: 0;
      display: inline-block
   }
   .products-filter .products-page-filter {
      margin-bottom: 0;
      padding-left: 10px;
      display: inline-block
   }
   .products-filter .woocommerce-ordering {
      width: 280px;
      position: absolute;
      top: 0;
      right: 0
   }
   .lm-col-9 .products-filter .woocommerce-result-count {
      display: none
   }
   .lm-col-9 .products-filter .products-page-filter {
      padding-left: 0
   }
   .section-product-items .product-item.grid-3 {
      width: 33.33333333333333%
   }
   .section-product-items .product-item.grid-4 {
      width: 25%
   }
   .section-product-items .product-item.grid-5 {
      width: 20%
   }
   .page-row .section-product-items {
      margin-bottom: 0
   }
   #sidebar.product-sidebar {
      padding-top: 0
   }
   .woocommerce-tabs {
      margin-top: 50px
   }
   .woocommerce-tabs .tabs {
      text-align: center
   }
   .woocommerce-tabs .tabs a,
   .woocommerce-tabs .tabs li {
      display: inline-block
   }
   .woocommerce-tabs .shop_attributes {
      margin-left: auto;
      margin-right: auto;
      width: 770px
   }
   .woocommerce-tabs #respond {
      margin-top: 0
   }
   .woocommerce-tabs .comment-tabs {
      border-bottom: 1px solid #eee
   }
   .woocommerce-tabs .comment-tabs li {
      display: inline-block
   }
   .woocommerce-tabs .comment-tabs li a {
      margin-right: 10px;
      padding: 0;
      display: inline;
      border-bottom: none
   }
   .woocommerce-tabs .comment-tabs li a:hover {
      color: #303030;
      text-decoration: none;
      border-bottom: none
   }
   .woocommerce-tabs .comment-tabs li a:hover:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -14px;
      height: 2px;
      width: 100%;
      background-color: #303030
   }
   .woocommerce-tabs .comment-tabs li.active a {
      border-bottom: none
   }
   .woocommerce-tabs .comment-tabs li.active a:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -14px;
      height: 2px;
      width: 100%;
      background-color: #303030
   }
   #comments-loaded-wrap {
      left: 25%;
      right: 25%
   }
   .woocommerce-cart .coupon {
      margin-bottom: 0
   }
   .woocommerce-cart .cart-buttons {
      text-align: right
   }
   .sidebar-account,
   .woocommerce-cart .cross-sells {
      margin-bottom: 0
   }
   .woocommerce-account #add_payment_method,
   .woocommerce-account .edit-my-account-wrap,
   .woocommerce-account .edit-my-address-wrap {
      margin-left: auto;
      margin-right: auto;
      width: 770px
   }
   .woocommerce-checkout #content .woocommerce {
      position: relative
   }
   .woocommerce-checkout .lm-col-6.right {
      position: absolute;
      top: 0;
      right: -15px
   }
   .woocommerce-checkout #review-col {
      margin-top: 0
   }
   .woocommerce-checkout .woocommerce-message,
   .woocommerce-checkout form.checkout .woocommerce-error {
      width: 455px
   }
   .woocommerce-checkout .thankyou-wrap {
      margin-left: auto;
      margin-right: auto;
      width: 770px
   }
   .woocommerce-checkout .thankyou-wrap .order_details_wrap .order_details li {
      margin: 0;
      padding: 0 30px;
      display: inline-block;
      border-bottom: none;
      border-right: 1px solid #aaa
   }
   .woocommerce-checkout .thankyou-wrap .order_details_wrap .order_details li:last-child {
      border-right: none
   }
   .woocommerce-checkout .thankyou-wrap .bacs_details li {
      margin: 0;
      padding: 0 30px;
      display: inline-block;
      border-bottom: none;
      border-right: 1px solid #aaa
   }
   .woocommerce-checkout .thankyou-wrap .bacs_details li:last-child {
      border-right: none
   }
   .shortcode-row-single .product-item,
   .shortcode-row .row:last-child .product-category,
   .shortcode-row .row:last-child .product-item {
      margin-bottom: 0
   }
   .full-footer .footer-widget .widget_price_filter,
   .full-footer .footer-widget .widget_shopping_cart_content {
      margin-left: auto;
      margin-right: auto;
      width: 500px
   }
}

@media (min-width:1200px) {
   .lm-col-9 .products-filter .woocommerce-result-count {
      display: inline-block
   }
   .lm-col-9 .products-filter .products-page-filter {
      padding-left: 10px
   }
   .woocommerce-checkout .woocommerce-message,
   .woocommerce-checkout form.checkout .woocommerce-error {
      width: 555px
   }
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
   .chosen-container-single .chosen-single,
   .sidebar-account select {
      background-size: 40px 37px;
      background-image: url(../../images/select@2x.png)
   }
   .woocommerce-cart .cart-totals-calculator select,
   .woocommerce-checkout #review-col select {
      background-size: 40px 37px;
      background-image: url(../../images/select_light@2x.png)
   }
   #comments-loaded-wrap #comments-preloader {
      background-size: 24px 24px;
      background-image: url(../../images/loader@2x.gif)
   }
}